<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light header">
            <div class="navbar-brand col-md-12" href="#">
                <div class="row">
                    <div class="col-md-5">
                        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white  shadow-sm toggle">
                            <i class="fa fa-bars mr-2"></i>
                        </button>
                        <a href="#" class="header-name">Diamond Jewellery</a>
                    </div>
                    <div class="col-md-7 mr-0">
                        <a href="#" class="home-page">HomePage</a>
                        <div class="account">
                            <img class="account-avatar" src="https://cf.shopee.vn/file/e3aea05255b46e75be739f3d47781132" />
                            <span class="account-name">quynhquynh_04082001</span>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="vertical-nav bg-white" id="sidebar">

        <div class="sidebar-left mt-4">
            <ul class="sidebar-menu">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fa fa-home mr-3 fa-fw font-as"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a asp-controller="OrderProd" asp-action="Index">
                        <i class="fas fa-align-left mr-3 fa-fw font-as"></i>
                        Order list
                    </a>
                </li>
                <li>
                    <a asp-controller="Article" asp-action="Index">
                        <i class="fas fa-inbox mr-3 fa-fw font-as"></i>
                        Article management
                    </a>
                </li>
                <li class="has-child">
                    <a href="#"><i class="fas fa-arrow-alt-circle-right mr-3 fa-fw font-as"></i>Product Management <i class="icon"></i></a>
                    <ul class="menu-sub">
                        <li>
                            <a asp-controller="Product" asp-action="Index">
                                <i class="fas fa-angle-double-right mr-2 fa-fw font-as"></i>
                                All Product
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="AddProd">
                                <i class="fas fa-angle-double-right mr-2 fa-fw font-as"></i>
                                Add Product
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Customer" asp-action="Index">
                        <i class="fas fa-address-card mr-3 fa-fw font-as"></i>
                        Customer management
                    </a>
                </li>
                <li class="has-child">
                    <a href="#"><i class="fas fa-chart-area mr-3 fa-fw font-as"></i> Sales Report <i class="icon"></i></a>
                    <ul class="menu-sub">
                        <li>
                            <a asp-controller="Product" asp-action="TotalProd">
                                <i class="fas fa-angle-double-right mr-2 fa-fw font-as"></i>
                                Total revenue
                            </a>
                        </li>
                        <li>
                            <a asp-controller="ListIt" asp-action="Index">
                                <i class="fas fa-angle-double-right mr-2 fa-fw font-as"></i>
                                Customer information
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <div class="page-content p-5 mt-5 " id="content">
        @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted bg-white">
            <div class="container">
                &copy; 2020 - Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
