<environment>
    <link rel="stylesheet" href="~/css/dropdown.css"/>
</environment>
<div class="dropdown_content col-xs-12 col-md-12">
    <div class="dropdown_content-left col-xs-2 col-md-2">
        <ul class="col-xs-12 col-md-12">
            <li><a [routerLink]="['/']">Celestial Collection</a></li>
            <li><a [routerLink]="['/']">Solstice Collection</a></li>
            <li><a [routerLink]="['/']">Biography Collection</a></li>
            <li><a [routerLink]="['/']">Interstellar Collection</a></li>
            
            <li><a [routerLink]="['/']">View All New Arrivals</a></li>
            <li><a [routerLink]="['/']">View All Jewellery</a></li>
        </ul>
    </div>
    <div class="dropdown_content-right align-items-center col-xs-10 col-md-10">
        <div class="d-flex justify-content-center align-items-center col-xs-12 col-md-12">
            <div class="d-flex flex-column justify-content-center align-items-center text-center col-xs-3 col-md-3">
                <a [routerLink]="['/']">
                    <img src="https://www.astleyclarke.com/media/cms/pronav/2021-01-06/gifs/new-arrivals.gif" alt="">
                    <h3>The New Diamond Locket</h3>
                </a>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center text-center col-xs-3 col-md-3">
                <a [routerLink]="['/']">
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/300x300/9df78eab33525d08d6e5fb8d27136e95/d/e/des10572v1_a/Astley-Clarke-Celestial-Chain-Bracelet-47001YNOB.jpg"
                         alt="">
                    <h3>Celestial Chain Bracelet</h3>
                </a>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center text-center col-xs-3 col-md-3">
                <a [routerLink]="['/']">
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/300x300/9df78eab33525d08d6e5fb8d27136e95/4/7/47009ynor_a/Astley-Clarke-Celestial-Ring-47009YNOR.jpg"
                         alt="">
                    <h3>Celestial Ring</h3>
                </a>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center text-center col-xs-3 col-md-3">
                <a [routerLink]="['/']">
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/300x300/9df78eab33525d08d6e5fb8d27136e95/4/7/47007ynor_a/Astley-Clarke-Celestial-Compass-Ring-47007YNOR.jpg"
                         alt="">
                    <h3>Celestial Compass Ring</h3>
                </a>
            </div>
        </div>
    </div>
</div>