.careers .container {
    width: 60%;
}

.careers .title {
    color: white;
    background-color: black;
    text-align: start;
    padding: 5px 20px;
}

.careers h3 {
    font-weight: bold;
    font-size: 18px;
}

.careers strong {
    font-weight: bold;
    font-size: 18px;
}

.careers p {
    font-size: 16px;
    line-height: 2;
}

.careers a {
    text-decoration: none;
    color: black;
}

.careers button {
    border: solid 1px black;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    width: 15%;
    margin-top: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

    .careers button:hover {
        background: black;
        color: white;
    }

.careers .careers_banner {
    background-image: url("https://www.astleyclarke.com/skin/frontend/default/astleyclarke/images/cms-page-banners/blue-nov-2020.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    margin-bottom: 45px;
}

    .careers .careers_banner h2 {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 20px;
        font-size: 24px;
    }
