/*phần login và sign up*/
.img-signup, .img-login, .img-reset, .img-change {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.img-login {
    background-image: url("/Images/Images/Rings/po10.png");
    background-position: center;
    height: 100vh;
}

.img-signup {
    background-image: url("/Images/Images/Rings/po11.png");
    font-family: 'Libre Baskerville', serif;
}

.img-reset {
    background-image: url(https://i.pinimg.com/736x/d8/e2/89/d8e289aeac7fdf597a0f155de6362175.jpg);
    background-position: center;
}

.img-change {
    background-image: url(https://i.pinimg.com/564x/e1/c0/c8/e1c0c82612829200bdf450523322c32e.jpg)
}

.information {
    float: right;
    padding: 10px 30px 50px 30px;
    margin: 50px 0 50px;
}

.info-signup label {
    margin: 5px 0 10px !important;
}

h2, label {
    margin: 10px 0 20px;
    font-weight: bold;
    color: white;
}

h2 {
    margin-bottom: 20px;
    margin-top: 30px;
}

.form-group .check_agree_terms {
    color: #686868 !important;
    font-size: 10px;
    line-height: 15px !important;
    margin-left: 16px !important;
}

.form-group .form-check-input {
    position: absolute;
    margin-top: 15px;
    margin-left: 0;
}

.name-left {
    width: 47%;
    float: left;
}

.username-right {
    width: 47%;
    float: right;
}

.form-group {
    margin-top: 30px;
    font-family: 'Libre Baskerville', serif;
}

.form-control {
    height: calc(1.5em + .5rem + 2px) !important;
    border-radius: 0;
}

.btn-light {
    font-weight: bold;
    margin: 10px 0 20px;
    width: 100%;
    height: 45px;
    color: black;
    background-color: white !important;
    border: none;
}

.form-group a {
    font-weight: 500;
}

#Avatar {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.gender span {
    margin-left: 17px;
    margin-right: 50px;
}

i {
    font-size: 20px;
    color: white;
}

.form-group input {
    background-color: rgba(255, 255, 255, 0.00);
    border: 1px solid white;
    margin-bottom: 10px;
}

.gender span {
    color: white;
}
.row{
    margin:0;
}