.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff5f7;
    border-radius: 5px;
    width: 60%;
    transition: all 5s ease-in-out;
    position: absolute;
    z-index: 9999;
    margin-left: 300px;
}

    .popup h2 {
        margin-top: 0;
        color: #D41442;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #fff5f7;
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }
.content1 {
    color: #126612;
    margin-left: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    .box {
        width: 80%;
    }

    .popup {
        width: 80%;
    }
}
