@model Project.Models.StoneMst

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>StoneMst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StyleCode" class="control-label"></label>
                <select asp-for="StyleCode" class ="form-control" asp-items="ViewBag.StyleCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="StoneQltyId" class="control-label"></label>
                <input asp-for="StoneQltyId" class="form-control" />
                <span asp-validation-for="StoneQltyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoneGm" class="control-label"></label>
                <input asp-for="StoneGm" class="form-control" />
                <span asp-validation-for="StoneGm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StonePcs" class="control-label"></label>
                <input asp-for="StonePcs" class="form-control" />
                <span asp-validation-for="StonePcs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoneCrt" class="control-label"></label>
                <input asp-for="StoneCrt" class="form-control" />
                <span asp-validation-for="StoneCrt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoneRate" class="control-label"></label>
                <input asp-for="StoneRate" class="form-control" />
                <span asp-validation-for="StoneRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoneAmt" class="control-label"></label>
                <input asp-for="StoneAmt" class="form-control" />
                <span asp-validation-for="StoneAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
