<environment>
    <link rel="stylesheet" href="~/css/background.css" />
</environment>
<div class="background col-xs-12 col-md-12">
    <section class="background_banner text-center col-xs-12 col-md-12">
        <h2>About Us</h2>
    </section>
    <div class="container">
        <div class="row">

            <h3 class="intro text-center">
                A British luxury jewellery brand creating design-led, refined jewellery to be worn
                every
                day.
            </h3>

            <section class="background_newin col-xs-12 col-md-12">
                <div class="left p-2 col-xs-4 col-md-4 text-center">
                    <img src="https://www.astleyclarke.com/media/cms/aboutus/About-Us_15.jpg">
                </div>
                <div class="right p-2 col-xs-8 col-md-8">
                    <p>
                        Astley Clarke is a luxury British brand celebrating design and craftsmanship. From diamonds and gemstones to
                        free personalisation, our fine and demi-fine jewellery is made to be worn, layered, gifted and enjoyed every
                        day.<br><br>

                        A desire to create relevant, relaxed and luxurious jewellery for a new generation is central to our process.
                        Acute attention-to-detail is in everything we do, making Astley Clarke pieces refined yet easy-to-wear,
                        intelligent and joyful. <br><br>

                        We only work with noble metals, semi-precious and precious gemstones, and natural diamonds, which are
                        responsibly sourced and adhere to the Kimberley Process. We are also proud to be supporting Theirworld, a
                        charity that champions women's and children's causes in the developing world.
                    </p>
                    <div class="text-center col-xs-12 col-md-12">
                        <button type="button" class="btn text-center">
                            SHOP NEW IN
                        </button>
                    </div>

                </div>
            </section>

            <section class="background_stock col-xs-12 col-md-12">
                <div class="left d-flex flex-column justify-content-center align-items-center col-xs-8 col-md-8">
                    <p>
                        Astley Clarke jewellery is available in Selfridges, Liberty, Harrods, Saks, Nordstrom, Neiman Marcus, David
                        Jones, De Bijenkorf and specialist fine jewellers across the world. Our award-winning website delivers to
                        over 200 countries with super-fast shipping and unrivalled customer service.
                    </p>
                    <button type="button" class="btn text-center">
                        View Our Stockists
                    </button>
                </div>
                <div class="right p-2 text-center col-xs-4 col-md-4">
                    <img src="https://www.astleyclarke.com/media/cms/aboutus/About-Us_3-2.jpg">
                </div>
            </section>

            <section class="background_public col-xs-12 col-md-12">
                <div class="left p-2 col-xs-4 col-md-4 text-center">
                    <img src="https://www.astleyclarke.com/media/cms/aboutus/2016/5.jpg">
                </div>
                <div class="right p-2 col-xs-8 col-md-  8">
                    <p>
                        We love nothing more than seeing inspirational women styling their Astley Clarke jewellery. With a shining
                        line up of advocates, including Sienna Miller, Cara Delevingne, Cameron Diaz, Lupita Nyong’o and Alexa
                        Chung, Astley Clarke has made appearances on the red carpet and the silver screen.
                        <br>
                        <br>
                        Subscribe to our newsletter or follow us on social media for new collection launches, exclusive events and
                        styling inspiration, then show us how you wear yours accesorries.
                    </p>
                    <div class="text-center col-xs-12 col-md-12">
                        <button type="button" class="btn text-center">
                            FOLLOW US ON INSTAGRAM
                        </button>
                    </div>

                </div>
            </section>

            <section class="background_brands col-xs-12 col-md-12">
                <a [routerLink]="['/brands']" class="d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">As Seen In...</h3>
                    <img src="https://www.astleyclarke.com/media/cms/logos/featured-in-d.png?v=0">

                </a>
                <button type="button" class="btn text-center">
                    SHOP IN THE PRESS
                </button>
            </section>
        </div>
    </div>
</div>