<enviroment>
    <link rel="stylesheet" href="~/css/careers.css" />
</enviroment>
<div class="careers col-xs-12 col-md-12">
    <section class="careers_banner text-center col-xs-12 col-md-12">
        <h2>Careers</h2>
    </section>
    <div class="container">
        <div class="row">
            <h3 class="title">CAREERS AT ASTLEY CLARKE</h3>
            <p>
                Astley Clarke is a British fine jewellery brand founded in London by Bec Astley Clarke MBE to celebrate design
                and colour in fine jewellery and to create a brand that represents all that is good and proper about British
                luxury. Astley Clarke’s personality is imbued with the wit and irreverence that captures the imagination of a
                new generation of luxury customers. We combine the grandest of ideas with an acute attention to the tiniest of
                details.
                <br>
                Based out of a little cobbled mews in W2, the head office houses the whole UK team from the design studio
                through to marketing and accounts. We may be a small team but we are one that is dedicated to championing
                everything we love about Astley Clarke. Our current vacancies are listed below so if you would like to become a
                part of the Astley Clarke team please do not hesitate to get in touch at hr@astleyclarke.com.
            </p>

            <div>
                <a [routerLink]="['/background']">
                    <button type="button" class="btn">
                        OUR STORY
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>