<environment>
    <link rel="stylesheet" href="~/css/contact.css" />
</environment>
<div class="contact col-xs-12 col-md-12">
    <section class="contact_banner text-center col-xs-12 col-md-12">
        <h2>Contact Us</h2>
    </section>
    <div class="container">
        <div class="row">
            <section class="contact_info col-xs-12 col-md-12">
                <h3>For all questions great and small, we are at your service</h3>
                <h4><i class="fas fa-phone-volume"></i>Call: <strong>+44 (0)20 7706 0060</strong></h4>
                <h4><i class="fas fa-envelope"></i>Email: <strong>personalshopper@astleyclarke.com</strong></h4>
                <h5>We aim to answer all email enquiries within 48 hours.</h5>
            </section>

            <section class="contact_hours col-xs-12 col-md-12">
                <h3>OPENING HOURS</h3>
                <table class="text-center">
                    <tr>
                        <th>Days</th>
                        <th>Times</th>
                    </tr>
                    <tr>
                        <td>Monday - Thursday</td>
                        <td>9am - 5:30pm</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>9am - 5pm</td>
                    </tr>
                    <tr>
                        <td>Saturday - Sunday</td>
                        <td>Closed</td>
                    </tr>
                </table>
            </section>

            <section class="contact_enquiry col-xs-12 col-md-12">
                <div>
                    <h3>WHOLESALE ENQUIRIES</h3>
                    <span>For all wholesale enquiries please contact:</span>
                    <br>
                    <span>Katherine Lees</span>
                    <br>
                    <span>
                        <strong>katherine@astleyclarke.com</strong>
                    </span>
                </div>

                <div>
                    <h3>MARKETING & PR ENQUIRIES</h3>
                    <span>For all Marketing & PR enquiries please contact:</span>
                    <br>
                    <span>Emma Berry</span>
                    <br>
                    <span>
                        <strong>emma@astleyclarke.com</strong>
                    </span>
                </div>

            </section>
            <section class="contact_map col-xs-12 col-md-12">
                <h3>Find us</h3>
            </section>
        </div>
    </div>
</div>