<environment>
    <link rel="stylesheet" href="~/css/explore.css" />
</environment>
<div class="explore col-xs-12 col-md-12">
    <section class="explore_title col-xs-12 col-md-12">
        <h2 class="text-center col-xs-12 col-md-12">
            Explore
        </h2>
        <h3 class="text-center col-xs-12 col-md-12">
            We have so much to show you. Explore unique stacking and styling inspiration, shop our latest collections, and
            discover exclusive insight into gemstones, charms, diamonds, precious metals, and their significance. The time
            has come to start your collection…
        </h3>
    </section>
    <section class="explore_social col-xs-12 col-md-12">
        <div class="left col-xs-6 col-md-6">
            <div class="col-xs-12 col-md-12">
                <a [routerLink]="['/']" class="d-flex flex-column justify-content-center align-items-center">
                    <img src="https://www.astleyclarke.com/media/cms/explore/2020-11-19/new-in-solstice.jpg">
                    <h2>New In: Solstice</h2>
                    <h3>
                        The latest gold vermeil jewellery collection evokes that singular feeling when the sun sinks low on a
                        hazy summer evening. Our designers looked to unique forms within nature to create pieces with an
                        empowering radiance you can wear day in, day out.
                    </h3>
                </a>
            </div>
        </div>
        <div class="right col-xs-6 col-md-6">
            <div class="col-xs-12 col-md-12">
                <a [routerLink]="['/']" class="d-flex flex-column justify-content-center align-items-center">
                    <img src="https://www.astleyclarke.com/media/cms/explore/2020-11-19/collage.jpg">
                    <h2>Instagram</h2>
                    <h3>
                        Uncover new ways to stack, layer and enjoy your Astley Clarke pieces over on our Instagram, then share
                        your styling with us for your chance to win £100 of jewellery.
                    </h3>
                </a>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">

            <section class="explore_product d-flex justify-content-center align-items-center col-xs-12 col-md-12">
                <div class="col-xs-4 col-md-4">
                    <a [routerLink]="['/bracelets']" class="col-xs-12 col-md-12 d-flex flex-column justify-content-center align-items-center">
                        <h2>Bestselling Bracelets</h2>
                        <img src="https://www.astleyclarke.com/media/cms/explore/2020-11-19/bestselling-bracelets.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-4 col-md-4">
                    <a [routerLink]="['/lockets']" class="col-xs-12 col-md-12 d-flex flex-column justify-content-center align-items-center">
                        <h2>Photo Lockets</h2>
                        <img src="https://www.astleyclarke.com/media/cms/explore/2020-11-19/photo-lockets.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-4 col-md-4">
                    <a [routerLink]="['/jewllery']" class="col-xs-12 col-md-12 d-flex flex-column justify-content-center align-items-center">
                        <h2>Engravable Jewellery</h2>
                        <img src="https://www.astleyclarke.com/media/cms/explore/2020-11-19/personalised-jewellery.jpg" alt="">
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>