<environment>
    <link rel="stylesheet" href="~/css/jewellery.css" />
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/local/NeuzeitGroteskRegular.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/local/NeuzeitGroteskLight.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/local/BetterSignature.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/local/NeuzeitGroteskBold.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/fonts/engraving-fonts/BaskervilleBoldItalicBT.woff" as="font" type="font/woff2" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
</environment>


<div class="reskin category-introblock wide-introblock jewellery">
    <div class="content">
        <h1>Jewellery</h1>
        <p class="main-copy" style="font-family: 'Open Sans Condensed', sans-serif;">
            Every piece from our fine and demi-fine jewellery collections is designed with acute attention to detail.
            Hand-drawn in our London studio, each design is thoughtfully conceptualised and offers a fresh approach to everyday luxury.
            Completely unique, highly collectible and an enhancement to every occasion, our jewellery was made to be layered,
            stacked and styled, across all collections.
        </p>
        <p>Also: <a asp-controller="Product" asp-action="Bestsellers"><b style="color:wheat">All Bestsellers</b></a></p>
    </div>
</div>

<section class="wide-mid-promo in-view">
    <img class="desktop-image" src="https://www.astleyclarke.com/media/cms/jewellery-landing-page/images/engravable-lockets-d.jpg?1" />
    <div class="copy-wrapper">
        <h3 class="text-center" style="font-family: 'Dancing Script', cursive;">Engravable Lockets</h3>
        <p>
            Make a statement with engravable lockets that prove personalisation is everything. Be it a dedication or declaration; discover enduring jewellery that looks even more beautiful
            when enhanced with a meaningful sentiment. Plus, discover our new photo personalisation tool.
        </p>
        <span class="cta"><a asp-controller="Product" asp-action="Lockets" style="color:black">Shop Now</a></span>
    </div>
</section>

