<environment>
    <link rel="stylesheet" href="~/css/policy.css" />
</environment>
<div class="policy col-xs-12 col-md-12">
    <section class="policy_banner text-center col-xs-12 col-md-12">
        <h2>Privacy Policy</h2>
    </section>
    <div class="container">
        <div class="row">
            <section class="policy_content col-xs-12 col-md-12">
                <p>
                    Astley Clarke is committed to ensuring that your privacy is protected. This privacy policy applies to any
                    online and mobile website, application and digital service ("Services") of Astley Clarke Ltd ("we", "us",
                    "our") and explains what information we collect, how we process it and the procedures that we have in place to
                    safeguard your privacy.
                    <br>
                    If you do not agree to the following policy you may wish to cease viewing/using this website.
                </p>

                <div class="accordion" id="accordion">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                                    aria-expanded="true" aria-controls="collapse1">
                                Exchanging Your Jewellery
                            </button>
                        </h2>

                        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    If you would like to exchange your purchase for an alternative item, please
                                    contact us at returns@astleyclarke.com, alternatively you can call one of our Personal Shoppers for
                                    advice on a more suitable item on +44 (0)20 7706 0060.
                                    <br>
                                    Exchange items can only be dispatched after the returned goods have been received and have undergone a
                                    quality control check. Alternatively, if you see something you simply must have, you can make your
                                    purchase by phone or online and we will refund your original item when it is returned to us.
                                    <br>
                                    Exchanges received outside of the above stated timescales are also subject to product availability;
                                    however, you will incur any shipping costs for such exchanges. Any further returns of exchanged items
                                    outside the stated timescales will again be at your cost for the shipping, and refunded only as a
                                    credit
                                    note. You will be charged for any difference in cost, plus any additional shipping, taxes and import
                                    duties.
                                    <br>
                                    To return an item to us for exchange, please follow the procedure detailed above.
                                    <br>
                                    In the event of failure to return any item to us within the time limits stated, even though validly
                                    cancelled, we reserve the right to charge any costs of recovery of the goods.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                                    aria-expanded="false" aria-controls="collapse2">
                                Engraving & Bespoke Orders
                            </button>
                        </h2>

                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Please note that engraved products, bespoke items, special orders and items
                                    that we do not currently carry in stock, cannot be exchanged or returned under any circumstances.
                                    <br>
                                    For more information please see Bespoke Jewellery and Personalised Jewellery, or contact one of our
                                    Personal Shoppers on +44 (0)20 7706 0060.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
                                    aria-expanded="false" aria-controls="collapse3">
                                Gift Returns
                            </button>
                        </h2>

                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    If you have received an item from Astley Clarke as a gift you can of course
                                    return it for exchange. This must be done within the parameters outlined in this returns policy.
                                    Please
                                    call us on +44 (0)20 7706 0060 to arrange your return.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                Returning Faulty Items
                            </button>
                        </h2>

                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Faulty items will only be accepted if the goods are delivered to the customer
                                    damaged, or if there is a subsequent manufacturing fault within a period of 12 months after delivery.
                                    All items returned as faulty will be inspected, and any item displaying damage deemed to be a result
                                    of
                                    fair wear and tear will not be accepted as faulty.
                                    <br>
                                    Note: your statutory rights are not affected. Where possible, items may be repaired on request but
                                    only
                                    where such items are deemed faulty and repairable. Repairs do not come with a guarantee. It may be
                                    possible for us to repair items which have suffered wear and tear. There will be a charge for this
                                    service, which is to cover the cost of shipping and any other costs incurred.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                Returning Faulty Items
                            </button>
                        </h2>

                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Faulty items will only be accepted if the goods are delivered to the customer
                                    damaged, or if there is a subsequent manufacturing fault within a period of 12 months after delivery.
                                    All items returned as faulty will be inspected, and any item displaying damage deemed to be a result
                                    of
                                    fair wear and tear will not be accepted as faulty.
                                    <br>
                                    Note: your statutory rights are not affected. Where possible, items may be repaired on request but
                                    only
                                    where such items are deemed faulty and repairable. Repairs do not come with a guarantee. It may be
                                    possible for us to repair items which have suffered wear and tear. There will be a charge for this
                                    service, which is to cover the cost of shipping and any other costs incurred.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                Returning Faulty Items
                            </button>
                        </h2>

                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Faulty items will only be accepted if the goods are delivered to the customer
                                    damaged, or if there is a subsequent manufacturing fault within a period of 12 months after delivery.
                                    All items returned as faulty will be inspected, and any item displaying damage deemed to be a result
                                    of
                                    fair wear and tear will not be accepted as faulty.
                                    <br>
                                    Note: your statutory rights are not affected. Where possible, items may be repaired on request but
                                    only
                                    where such items are deemed faulty and repairable. Repairs do not come with a guarantee. It may be
                                    possible for us to repair items which have suffered wear and tear. There will be a charge for this
                                    service, which is to cover the cost of shipping and any other costs incurred.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                Returning Faulty Items
                            </button>
                        </h2>

                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Faulty items will only be accepted if the goods are delivered to the customer
                                    damaged, or if there is a subsequent manufacturing fault within a period of 12 months after delivery.
                                    All items returned as faulty will be inspected, and any item displaying damage deemed to be a result
                                    of
                                    fair wear and tear will not be accepted as faulty.
                                    <br>
                                    Note: your statutory rights are not affected. Where possible, items may be repaired on request but
                                    only
                                    where such items are deemed faulty and repairable. Repairs do not come with a guarantee. It may be
                                    possible for us to repair items which have suffered wear and tear. There will be a charge for this
                                    service, which is to cover the cost of shipping and any other costs incurred.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                Returning Faulty Items
                            </button>
                        </h2>

                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Faulty items will only be accepted if the goods are delivered to the customer
                                    damaged, or if there is a subsequent manufacturing fault within a period of 12 months after delivery.
                                    All items returned as faulty will be inspected, and any item displaying damage deemed to be a result
                                    of
                                    fair wear and tear will not be accepted as faulty.
                                    <br>
                                    Note: your statutory rights are not affected. Where possible, items may be repaired on request but
                                    only
                                    where such items are deemed faulty and repairable. Repairs do not come with a guarantee. It may be
                                    possible for us to repair items which have suffered wear and tear. There will be a charge for this
                                    service, which is to cover the cost of shipping and any other costs incurred.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                                    aria-expanded="false" aria-controls="collapse1">
                                Exchanging Your Jewellery
                            </button>
                        </h2>

                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    If you would like to exchange your purchase for an alternative item, please
                                    contact us at returns@astleyclarke.com, alternatively you can call one of our Personal Shoppers for
                                    advice on a more suitable item on +44 (0)20 7706 0060.
                                    <br>
                                    Exchange items can only be dispatched after the returned goods have been received and have undergone a
                                    quality control check. Alternatively, if you see something you simply must have, you can make your
                                    purchase by phone or online and we will refund your original item when it is returned to us.
                                    <br>
                                    Exchanges received outside of the above stated timescales are also subject to product availability;
                                    however, you will incur any shipping costs for such exchanges. Any further returns of exchanged items
                                    outside the stated timescales will again be at your cost for the shipping, and refunded only as a
                                    credit
                                    note. You will be charged for any difference in cost, plus any additional shipping, taxes and import
                                    duties.
                                    <br>
                                    To return an item to us for exchange, please follow the procedure detailed above.
                                    <br>
                                    In the event of failure to return any item to us within the time limits stated, even though validly
                                    cancelled, we reserve the right to charge any costs of recovery of the goods.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                                    aria-expanded="false" aria-controls="collapse2">
                                Engraving & Bespoke Orders
                            </button>
                        </h2>

                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Please note that engraved products, bespoke items, special orders and items
                                    that we do not currently carry in stock, cannot be exchanged or returned under any circumstances.
                                    <br>
                                    For more information please see Bespoke Jewellery and Personalised Jewellery, or contact one of our
                                    Personal Shoppers on +44 (0)20 7706 0060.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>