<environment>
    <link rel="stylesheet" href="~/css/refund.css" />
</environment>
<div class="refund col-xs-12 col-md-12">
    <section class="refund_banner text-center col-xs-12 col-md-12">
        <h2>Returns & Exchanges</h2>
    </section>
    <div class="container">
        <div class="row">
            <section class="refund_returns col-xs-12 col-md-12">
                <h3 class="title">UK RETURNS</h3>
                <p>
                    You can return your jewellery, including earrings, free of charge, for any reason.
                    <br>
                    All jewellery, excluding personalised items, returned within 14 days of purchase is eligible for a refund or
                    exchange.
                </p>
                <ul>
                    <li>
                        <h3>Step 1:</h3>
                        <p>
                            Complete the returns form and place the item(s) back into the original packaging.
                            <br>
                            Enclose the form along with the item(s), seal securely and return to our London address.
                            <br>
                            Note: If returning more than one piece from the same order, please place all returns in one shipment, as
                            you may incur the charges from any subsequent returns.
                            <br>
                            If your returns form is missing, you can print another copy here.
                        </p>
                    </li>
                    <li>
                        <h3>Step 2:</h3>
                        <p>
                            Go to https://www.royalmail.com/track-my-return/create/1082 to create your FREE returns label.
                            <br>
                            Attach the label to the outside of your parcel.
                        </p>
                    </li>
                    <li>
                        <h3>Step 3:</h3>
                        <p>
                            Take the parcel to the post office counter to get your tracking number for proof of postage.
                            <br>
                            Please note that we do not accept liability for returned goods if you do not return them to us via the
                            Post Office.
                            <br>
                            <strong>All returned jewellery is thoroughly disinfected.</strong>
                        </p>
                    </li>
                    <li>
                        <h3>Very important, please note:</h3>
                        <p>
                            Unauthorised returns/exchanges may be returned to the sender. Returns received outside the above time
                            frames are accepted at the discretion of Astley Clarke. We recommend using the free Royal Mail tracked
                            returns service provided. Using an alternative tracked delivery service does not affect your statutory
                            rights. Returns policy for items on sale is the same as our returns policy noted above.
                        </p>
                        <strong>*We offer free returns on all orders except engraved pieces.</strong>
                    </li>
                </ul>
            </section>
            <section class="refund_orders col-xs-12 col-md-12">
                <h3 class="title">ENGRAVING & BESPOKE ORDERS</h3>
                <p>
                    Please note that engraved products, bespoke items, special orders and items that we do not currently carry in
                    stock, cannot be exchanged or returned under any circumstances.
                    <br>
                    For more information please see Bespoke Jewellery and Personalised Jewellery, or contact one of our Personal
                    Shoppers on +44 (0)20 7706 0060.
                </p>
            </section>
            <section class="refund_refunds col-xs-12 col-md-12">
                <h3 class="title">INTERNATIONAL RETURNS</h3>
                <p>
                    We offer FREE returns for the following countries:
                    Australia, Austria, Belgium, Bulgaria, Canada, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland,
                    France, Germany, Greece, Hong Kong, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta,
                    Netherlands, Poland, Portugal, Romania, Saudi Arabia, Singapore, Slovakia, Spain, Sweden, UAE, USA.
                    <br>
                    Outside of these, you can return your jewellery, including earrings, with our express service for a flat rate
                    of £10 or alternatively you can return the item(s) to us via your preferred carrier.
                    <br>
                    Access our Returns Portal to return any orders from outside of the UK.
                    <br>
                    You will be responsible for arranging to have the item(s) returned to us. You can send your returns via our
                    express returns service for a flat rate of a £10 equivalent in your own currency for international returns
                    which will be taken from the credit of the returned item(s) once they have reached us. Alternatively, you can
                    print a returns label and send with your preferred carrier. Payment of refund for cancellations should be made
                    within 14 days from receipt of the cancellation, but it can be delayed if we have not received the goods or
                    evidence that they've been returned.
                    <br>
                    We recommend that you use our express service to return your items to us, as we are not responsible for items
                    that do not reach us. Please be aware that international customs duties and sales taxes are NOT refunded for
                    shipments outside the European community (EU 27.)
                    <br>
                    Visit the Returns Portal to start your return.
                </p>
            </section>
            <section class="refund_returns col-xs-12 col-md-12">
                <h3 class="title">SALE RETURNS</h3>
                <p>
                    All orders placed during our sale may be returned and are subject to our standard returns policy as seen
                    above.
                </p>
            </section>
            <section class="refund_refund col-xs-12 col-md-12">
                <h3 class="title">RECEIVING A REFUND</h3>
                <p>
                    Refunds will be made within 30 days of the date of cancellation notice. The cost of any undamaged and unworn
                    products, correctly returned will be credited to the original purchaser's credit card, including sales taxes
                    for all EU country shipments and any shipping charges. As previously stated, international customs duties and
                    sales taxes are non-refundable for shipments outside the European Community (EU).
                </p>
            </section>
            <section class="refund_other col-xs-12 col-md-12">
                <h3 class="title">OTHER</h3>

                <div class="accordion" id="accordion">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                                    aria-expanded="true" aria-controls="collapse1">
                                Exchanging Your Jewellery
                            </button>
                        </h2>

                        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    If you would like to exchange your purchase for an alternative item, please
                                    contact us at returns@astleyclarke.com, alternatively you can call one of our Personal Shoppers for
                                    advice on a more suitable item on +44 (0)20 7706 0060.
                                    <br>
                                    Exchange items can only be dispatched after the returned goods have been received and have undergone a
                                    quality control check. Alternatively, if you see something you simply must have, you can make your
                                    purchase by phone or online and we will refund your original item when it is returned to us.
                                    <br>
                                    Exchanges received outside of the above stated timescales are also subject to product availability;
                                    however, you will incur any shipping costs for such exchanges. Any further returns of exchanged items
                                    outside the stated timescales will again be at your cost for the shipping, and refunded only as a
                                    credit
                                    note. You will be charged for any difference in cost, plus any additional shipping, taxes and import
                                    duties.
                                    <br>
                                    To return an item to us for exchange, please follow the procedure detailed above.
                                    <br>
                                    In the event of failure to return any item to us within the time limits stated, even though validly
                                    cancelled, we reserve the right to charge any costs of recovery of the goods.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                                    aria-expanded="false" aria-controls="collapse2">
                                Engraving & Bespoke Orders
                            </button>
                        </h2>

                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Please note that engraved products, bespoke items, special orders and items
                                    that we do not currently carry in stock, cannot be exchanged or returned under any circumstances.
                                    <br>
                                    For more information please see Bespoke Jewellery and Personalised Jewellery, or contact one of our
                                    Personal Shoppers on +44 (0)20 7706 0060.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
                                    aria-expanded="false" aria-controls="collapse3">
                                Gift Returns
                            </button>
                        </h2>

                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    If you have received an item from Astley Clarke as a gift you can of course
                                    return it for exchange. This must be done within the parameters outlined in this returns policy.
                                    Please
                                    call us on +44 (0)20 7706 0060 to arrange your return.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                Returning Faulty Items
                            </button>
                        </h2>

                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>
                                    Faulty items will only be accepted if the goods are delivered to the customer
                                    damaged, or if there is a subsequent manufacturing fault within a period of 12 months after delivery.
                                    All items returned as faulty will be inspected, and any item displaying damage deemed to be a result
                                    of
                                    fair wear and tear will not be accepted as faulty.
                                    <br>
                                    Note: your statutory rights are not affected. Where possible, items may be repaired on request but
                                    only
                                    where such items are deemed faulty and repairable. Repairs do not come with a guarantee. It may be
                                    possible for us to repair items which have suffered wear and tear. There will be a charge for this
                                    service, which is to cover the cost of shipping and any other costs incurred.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>