<environment>
    <link rel="stylesheet" href="~/css/thankyou.css" />
</environment>
<div class="thankyou col-xs-12 col-md-12">
    <div class="container">
        <div class="row">
            <section class="thankyou_letter text-center col-xs-12 col-md-12">
                <h2>THANK YOU!</h2>
                <h3>Your order number is: <strong>231ASDS123</strong></h3>
                <span>It will be delivered in 2 - 12 business days</span>
                <p>
                    Email us at: <strong>ashtleyclarke@gmail.com</strong> with any questions,
                    suggestion, or your image wearing the accessories.
                </p>
            </section>
            <section class="thankyou_share text-center col-xs-12 col-md-12">
                <h3>#ASHTLEYCLARKE</h3>
                <ul>
                    <li><a [routerLink]="['/']"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a [routerLink]="['/']"><i class="fab fa-google"></i></a></li>
                    <li><a [routerLink]="['/']"><i class="fab fa-youtube"></i></a></li>
                    <li><a [routerLink]="['/']"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </section>
            <section class="thankyou_rate d-flex flex-column justify-content-center align-items-center col-xs-12 col-md-12">
                <h3>We'd love to get to know you better!</h3>
                <h4>On scale of 1 - 5, you rate our service as:</h4>
                <div class="col-xs-12 col-md-12 text-center">
                    <div class="d-flex flex-column justify-content-center align-items-center text-center col-xs-12 col-md-12">


                        <label for="remark1">
                            <input type="radio" id="remark1" name="gemstone" value="remark1">1: You are
                            disappointed at our service
                        </label><br>


                        <label for="remark2">
                            <input type="radio" id="remark2" name="gemstone" value="remark2">2: You think our
                            service is not really good.
                        </label><br>


                        <label for="remark3">
                            <input type="radio" id="remark3" name="gemstone" value="remark3">3: You think our
                            service is so-so
                        </label><br>


                        <label for="remark4">
                            <input type="radio" id="remark4" name="gemstone" value="remark4">4: You feel okay when
                            using our service
                        </label><br>


                        <label for="remark5">
                            <input type="radio" id="remark5" name="gemstone" value="remark5">5: You feel satisfied
                            with our service.
                        </label><br>

                    </div>

                    <button class="btn btn-primary" >
                        SEND US YOUR ANSWER
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>