@model Project.Models.ItemMst

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ItemMst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StyleCode" />
            <div class="form-group">
                <label asp-for="Pairs" class="control-label"></label>
                <input asp-for="Pairs" class="form-control" />
                <span asp-validation-for="Pairs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdQuality" class="control-label"></label>
                <input asp-for="ProdQuality" class="form-control" />
                <span asp-validation-for="ProdQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertifyId" class="control-label"></label>
                <select asp-for="CertifyId" class="form-control" asp-items="ViewBag.CertifyId"></select>
                <span asp-validation-for="CertifyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdId" class="control-label"></label>
                <select asp-for="ProdId" class="form-control" asp-items="ViewBag.ProdId"></select>
                <span asp-validation-for="ProdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoldTypeId" class="control-label"></label>
                <select asp-for="GoldTypeId" class="form-control" asp-items="ViewBag.GoldTypeId"></select>
                <span asp-validation-for="GoldTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoldWt" class="control-label"></label>
                <input asp-for="GoldWt" class="form-control" />
                <span asp-validation-for="GoldWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoneWt" class="control-label"></label>
                <input asp-for="StoneWt" class="form-control" />
                <span asp-validation-for="StoneWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetGold" class="control-label"></label>
                <input asp-for="NetGold" class="form-control" />
                <span asp-validation-for="NetGold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WstgPer" class="control-label"></label>
                <input asp-for="WstgPer" class="form-control" />
                <span asp-validation-for="WstgPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wstg" class="control-label"></label>
                <input asp-for="Wstg" class="form-control" />
                <span asp-validation-for="Wstg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotGrossWt" class="control-label"></label>
                <input asp-for="TotGrossWt" class="form-control" />
                <span asp-validation-for="TotGrossWt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoldRate" class="control-label"></label>
                <input asp-for="GoldRate" class="form-control" />
                <span asp-validation-for="GoldRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoldAmt" class="control-label"></label>
                <input asp-for="GoldAmt" class="form-control" />
                <span asp-validation-for="GoldAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoldMaking" class="control-label"></label>
                <input asp-for="GoldMaking" class="form-control" />
                <span asp-validation-for="GoldMaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoneMaking" class="control-label"></label>
                <input asp-for="StoneMaking" class="form-control" />
                <span asp-validation-for="StoneMaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherMaking" class="control-label"></label>
                <input asp-for="OtherMaking" class="form-control" />
                <span asp-validation-for="OtherMaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotMaking" class="control-label"></label>
                <input asp-for="TotMaking" class="form-control" />
                <span asp-validation-for="TotMaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mrp" class="control-label"></label>
                <input asp-for="Mrp" class="form-control" />
                <span asp-validation-for="Mrp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
