<environment>
    <link rel="stylesheet" href="~/css/affiliates.css" />
</environment>
<div class="affiliates col-xs-12 col-md-12">
    <section class="affiliates_banner text-center col-xs-12 col-md-12">
        <h2>Affiliates</h2>
    </section>
    <div class="container">
        <div class="row">
            <h3 class="title">THE ASTLEY CLARKE AFFILIATE PROGRAMME</h3>
            <p>
                We design contemporary and fashion fine collections that are bursting with gemstones and diamonds, epitomising
                relaxed luxury. Regularly featured on the pages of Vogue, The Financial Times, Porter and Harper's Bazaar, we
                also have an exceptional celebrity following with Sienna Miller, Cara & Poppy Delevingne, Cameron Diaz and
                Minnie Driver among those frequently wearing and shopping with Astley Clarke.

                If your website or blog shares our enthusiasm for all things fine, we would be delighted if you would apply to
                join the Astley Clarke affiliate programme.
            </p>

            <div>
                <h3>A FEW BENEFITS OF JOINING OUR PROGRAMME...</h3>
                <ul>
                    <li>5% commission on net sales, excluding returns</li>
                    <li>Gain commission on sales originated from your site within 30 days</li>
                    <li>Free to join</li>
                    <li>Real time reporting and tracking</li>
                </ul>
            </div>

            <div>
                <h3>WHAT WILL WE DO FOR YOU?</h3>
                <ul>
                    <li>Provide fresh, relevant content on a regular basis</li>
                    <li>Regular newsletters to keep you up to date with all of our promotions</li>
                </ul>
            </div>

            <div>
                <h3>WHAT CAN I DO AS AN AFFILIATE?</h3>
                <ul>
                    <li>Place ads, banners and links on your website</li>
                    <li>
                        Access our product data feed and promote new collections to ensure your visitors are the first to know
                        about the latest jewellery arrivals
                    </li>
                </ul>
            </div>

            <div>
                <h3>WHAT HAPPENS NEXT?</h3>
                <ul>
                    <li>
                        Simply click on the link below and e-mail us with your first and surname, website and URL, country and
                        address
                    </li>
                    <li>Our team will review your website to ensure that we are a good fit</li>
                    <li>We will contact you to let you know the outcome of your application</li>
                </ul>
            </div>

            <div>
                <h3>Astley Clarke works with Linkshare</h3>
                <a [routerLink]="['/contact']">
                    <button type="button" class="btn">
                        CONTACT US
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>