<environment>
    <link rel="stylesheet" href="~/css/order-summary.css" />
</environment>
<div class="order col-xs-12 col-md-12">
    <div class="container">
        <div class="row">
            <section class="order_summary col-xs-12 col-md-12">
                <h2>Order Summary</h2>
                <table class="table table-responsive align-middle text-center">
                    <thead>
                        <tr>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Product Quantity</th>
                            <th>Product Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <a [routerLink]="['/']">
                                    <img class="col-xs-12 col-md-12"
                                         src="https://www.astleyclarke.com/media/catalog/product/cache/1/thumbnail/170x/9df78eab33525d08d6e5fb8d27136e95/4/6/46038yrdr_a/Astley-Clarke-Ruby-Stacking-Ring-46038YRDR60.jpg">
                                </a>
                            </td>
                            <td>
                                <ul>
                                    <li>RUBY STACKING RING</li>
                                    <li>Size: L</li>
                                </ul>
                            </td>
                            <td>
                                <span>₫10,618,373</span>
                            </td>
                            <td>1</td>
                            <td>₫10,618,373</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr class="total_row">
                            <td colspan="3" class="text-end">TOTAL</td>
                            <td></td>
                            <td class="total_row-price">₫23,360,421</td>
                        </tr>
                    </tfoot>
                </table>
            </section>

            <section class="order_form col-xs-12 col-md-12">
                <div class="left col-xs-6 col-md-6">
                    <h2>BILLING ADDRESS</h2>
                    <form>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-controls" id="firstName" name="firstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-controls" id="lastName" name="lastName">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-controls" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select class="form-controls" id="country" name="country">
                                <option>Vietnam</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address1">Address 1</label>
                            <input type="text" class="form-controls" id="address1" name="address1">
                        </div>
                        <div class="form-group">
                            <label for="address2">Address 2</label>
                            <input type="text" class="form-controls" id="address2" name="address2">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-controls" id="city" name="city">
                        </div>
                        <div class="form-group">
                            <label for="zip">Zip / Postcode</label>
                            <input type="text" class="form-controls" id="zip" name="zip">
                        </div>
                        <div class="form-group">
                            <label for="phone">Mobile Phone</label>
                            <input type="text" class="form-controls" id="phone" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="newsletter" class="checkbox" style="width: 80%;">
                                <input type="checkbox" name="newsletter"
                                       id="newsletter">
                                <strong>
                                    Sign me up to the Astley
                                    Clarke newsletter to be the first to hear about new arrivals, seasonal sales, special offers and to
                                    receive exclusive birthday treats.
                                </strong>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="right col-xs-6 col-md-6">
                    <h2>DELIVERY ADDRESS</h2>
                    <div class="form-group d-flex flex-column col-md-12 col-xs-12">
                        <label for="default" class="checkbox">
                            <input type="checkbox" name="default" id="default">Default (same as
                            billing address)
                        </label>
                        <label for="alternative" class="checkbox">
                            <input type="checkbox" name="alternative" id="alternative">Add an
                            alternative delivery address
                        </label>
                    </div>
                    <form>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-controls" id="firstName" name="firstName">
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-controls" id="lastName" name="lastName">
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-controls" id="email" name="email">
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="country">Country</label>
                            <select class="form-controls" id="country" name="country">
                                <option>Vietnam</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="address1">Address 1</label>
                            <input type="text" class="form-controls" id="address1" name="address1">
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="address2">Address 2</label>
                            <input type="text" class="form-controls" id="address2" name="address2">
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="city">City</label>
                            <input type="text" class="form-controls" id="city" name="city">
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="zip">Zip / Postcode</label>
                            <input type="text" class="form-controls" id="zip" name="zip">
                        </div>
                        <div class="form-group col-xs-12 col-md-12">
                            <label for="phone">Mobile Phone</label>
                            <input type="text" class="form-controls" id="phone" name="phone">
                        </div>
                    </form>
                </div>
            </section>

            <section class="order_fee col-xs-12 col-md-12">
                <div class="shipping col-xs-12 col-md-12">
                    <h2>SHIPPING METHOD</h2>
                    <table class="table table-sm text-center table-responsive">
                        <thead>
                        <th>Method</th>
                        <th>Transportation</th>
                        <th>Transfer Days</th>
                        </thead>
                        <tbody>
                            <tr class="table-light">
                                <td class="text-start ps-4">
                                    <label for="free">
                                        <input type="checkbox" name="free" id="free">Free
                                    </label>
                                    <br>
                                    <small>Prepayment of duties and taxes supported</small>
                                </td>
                                <td>EXPRESS COURIER (AIR)</td>
                                <td>Up to 4 business day(s)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="taxes col-xs-12 col-md-12">
                    <h2>DUTIES & TAXES</h2>
                    <ul>
                        <li>
                            <label for="prepay">
                                <input type="checkbox" name="prepay" id="prepay">Prepay ₫ 8984778 for duties, taxes and fees now to
                                guarantee no additional charges on delivery.
                            </label>
                        </li>
                        <li>
                            <label for="pay-on-delivery">
                                <input type="checkbox" name="pay-on-delivery" id="pay-on-delivery">I will pay all applicable duties, taxes
                                and fees on delivery.
                            </label>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="order_payment col-xs-12 col-md-12">
                <div class="left col-xs-6 col-md-6">
                    <h2>PAYMENT</h2>
                    <div class="method col-xs-12 col-md-12">
                        <img src="https://www.astleyclarke.com/skin/frontend/default/astleyclarke/images/onestepcheckout_secure_cards_transparent.png">
                    </div>
                    <div class="form-group">
                        <label for="cardNumber">Card Number</label>
                        <input type="text" class="form-controls" id="cardNumber" name="cardNumber">
                    </div>
                    <div class="form-group">
                        <label for="expiry">Expiry Date</label>
                        <input type="date" class="form-controls" id="expiry" name="expiry">
                    </div>
                    <div class="form-group">
                        <label for="security">Security Code</label>
                        <input type="text" class="form-controls" id="security" name="security">
                    </div>
                    <p>
                        By clicking Pay and Place Order, you agree to purchase your item(s) from Global-e as merchant of record for
                        this transaction, on Global-e’s Terms and Conditions and Privacy Policy. Global-e is an international
                        fulfilment service provider to Astley Clarke.
                    </p>
                    <div class="form-group">
                        <button type="submit" class="btn checkout_button" [routerLink]="['/thank-you']">
                            PLACE ORDER
                        </button>
                    </div>
                </div>
                <div class="right col-xs-6 col-md-6">
                    <h2>BILLING SUMMARY</h2>
                    <table class="table-sm table-responsive col-xs-12 col-md-12">
                        <tbody>
                            <tr>
                                <td class="title">ITEMS TOTAL</td>
                                <td class="text-end">₫ 23360421</td>
                            </tr>
                            <tr>
                                <td class="title">SHIPPING</td>
                                <td class="text-end">₫ 0</td>
                            </tr>
                            <tr>
                                <td class="title">DUTIES, TAXES & FEES</td>
                                <td class="text-end">₫ 8984778</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="title">TOTAL FOR YOUR ORDER</td>
                                <td class="text-end">₫ 32345199</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

        </div>
    </div>
</div>