<environment>
    <link rel="stylesheet" href="~/css/stock.css" />
</environment>
<div class="stock col-xs-12 col-md-12">
    <section class="stock_banner text-center col-xs-12 col-md-12">
        <h2>Global Stockists</h2>
    </section>
    <div class="container">
        <div class="row">
            <h3 class="intro text-center">Where in the world would you like to shop?</h3>
            <div class="stock_select text-center col-xs-12 col-md-12">
                <select>
                    <option>United Kingdom</option>
                    <option>United States</option>
                    <option>Rest of the world</option>
                </select>
                <select>
                    <option>Country A</option>
                    <option>Country B</option>
                    <option>Country C</option>
                    <option>Country D</option>
                </select>
            </div>
            <div class="stock_list text-center col-xs-12 col-md-12">
                <img src="https://www.astleyclarke.com/media//stockists/banners/boutique.jpg">

                <div class="d-flex justify-content-center align-items-center">
                    <ul>
                        <li>
                            <div class="stock_list-info text-center">
                                <h2>SELFRIDGES</h2>
                                <h3>Lower Ground Floor</h3>
                                <h3>400 Oxford Street, London</h3>
                                <h3>W1A 1AB</h3>
                                <h4>+44 (0)20 7318 3401</h4>
                                <span>Monday - Saturday: 9am - 10pm</span>
                                <br>
                                <span>Sunday: 11:30am - 6pm</span>
                            </div>
                        </li>
                        <li>
                            <div class="stock_list-info text-center">
                                <h2>SELFRIDGES</h2>
                                <h3>Lower Ground Floor</h3>
                                <h3>400 Oxford Street, London</h3>
                                <h3>W1A 1AB</h3>
                                <h4>+44 (0)20 7318 3401</h4>
                                <span>Monday - Saturday: 9am - 10pm</span>
                                <br>
                                <span>Sunday: 11:30am - 6pm</span>
                            </div>
                        </li>
                        <li>
                            <div class="stock_list-info text-center">
                                <h2>SELFRIDGES</h2>
                                <h3>Lower Ground Floor</h3>
                                <h3>400 Oxford Street, London</h3>
                                <h3>W1A 1AB</h3>
                                <h4>+44 (0)20 7318 3401</h4>
                                <span>Monday - Saturday: 9am - 10pm</span>
                                <br>
                                <span>Sunday: 11:30am - 6pm</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>