<environment>
    <link rel="stylesheet" href="~/css/bestsellers.css" />
</environment>

<section class="col-xs-12 col-md-12">


    <div class="products_filter-show d-flex flex-row flex-wrap justify-content-center align-content-center col-xs-12 col-md-12">
        @foreach (Item item in ViewBag.best)
        {

<div class="product col-xs-2 col-md-2">
    <div class="d-flex text-center align-items-center justify-content-center">
        <a class="p-3 col-xs-12 col-md-12" asp-controller="Product" asp-action="Product_detail" asp-route-id="@item.Product.PdId">

            <div class="text-center">

                <img src="~/Images/@item.Product.Image" width="375" height="375" />

                <h3>
                    @item.Product.Name
                </h3>
                <span>
                    $@item.Product.Price
                </span>
            </div>
        </a>
    </div>
</div>}
        
    </div>
</section>
