<environment>
    <link rel="stylesheet" href="~/css/home.css" />
</environment>
<div class="home col-xs-12 col-md-12" style="width:100%">
    <section class="home_video col-xs-12 col-md-12">
        <a asp-controller="Product" asp-action="Lockets" class="d-flex home_gemstone-link flex-column justify-content-end flex-wrap align-content-center">
            <h3 class="text-center">Refresh Your Memories</h3>
            <p class="text-center">
                Start the year off on a meaningful note with the ultimate gift: an engravable photo locket.
                Personalise yours with a memory and engraving for free, and well ensure it arrives made to treasure.
            </p>
        </a>
    </section>

    <section class="home_accessories col-xs-12 col-md-12">
        <div class="d-flex align-items-center justify-content-center">
            <a asp-controller="Product" asp-action="Bracelets" class="p-2 col-xs-2 col-md-2">
                <div>
                    <img src="https://www.astleyclarke.com/media/cms/home/2021-01-08/top-promo-bracelets-d.jpg"
                         class="one-edge-shadow">
                    <h3>
                        Bracelets
                    </h3>
                </div>
            </a>
            <a asp-controller="Product" asp-action="Rings"class="p-2 col-xs-2 col-md-2">
                <div>
                    <img src="https://www.astleyclarke.com/media/cms/home/2021-01-08/top-promo-rings-d.jpg" class="one-edge-shadow">
                    <h3>
                        Rings
                    </h3>
                </div>
            </a>
            <a asp-controller="Product" asp-action="Earrings" class="p-2 col-xs-2 col-md-2">
                <div>
                    <img src="https://www.astleyclarke.com/media/cms/home/2021-01-08/top-promo-earrings-d.jpg"
                         class="one-edge-shadow">
                    <h3>
                        Earrings
                    </h3>
                </div>
            </a>
            <a asp-controller="Product" asp-action="Lockets" class="p-2 col-xs-2 col-md-2">
                <div>
                    <img src="https://www.astleyclarke.com/media/cms/home/2021-01-08/top-promo-lockets-d.jpg"
                         class="one-edge-shadow">
                    <h3>
                        Lockets
                    </h3>
                </div>
            </a>
            <a asp-controller="Product" asp-action="Necklaces" class="p-2 col-xs-2 col-md-2">
                <div>
                    <img src="https://www.astleyclarke.com/media/cms/home/2021-01-08/top-promo-necklaces-d.jpg"
                         class="one-edge-shadow">
                    <h3>
                        Necklaces
                    </h3>
                </div>
            </a>
        </div>
    </section>

    <section class="home_gemstone col-xs-12 col-md-12">
        <a asp-controller="Product" asp-action="Lockets" class="d-flex home_gemstone-link flex-column justify-content-end flex-wrap align-content-center">

            <h3 class="text-center">It's the little things</h3>
            <p class="text-center">
                A bright gemstone here and a vibrant stack there can lift spirits in an instant.
                Embrace radiance this season
                with jewellery to elevate your everyday.
            </p>

        </a>

    </section>

    <section class="home_bestseller col-xs-12 col-md-12">
        <div class="d-flex align-items-center justify-content-center">

            <a asp-controller="Product" asp-action="Bestsellers"
               class="p-2 col-xs-5 col-md-5 background-left d-flex flex-column justify-content-end flex-wrap align-content-center">
                <h3 class="text-center">The best of the best</h3>
                <p class="text-center">
                    They're five-star rated for a reason.
                    Uncover your new jewellery box staples amongst this selection of our most-loved styles.
                </p>


            </a>


            <a asp-controller="Product" asp-action="Necklaces"
               class="p-2 col-xs-5 col-md-5 background-right d-flex flex-column justify-content-end flex-wrap align-content-center">
                <h3 class="text-center">Fresh Finery</h3>
                <p class="text-center">
                    Diamonds are for every day.
                    Discover distinctive, solid gold silhouettes you'll feel effortlessly extravagant in, wherever you wear them.
                </p>

            </a>

        </div>
    </section>

    @*<section class="home_public col-xs-12 col-md-12 text-center">
        <a href="#">ASTLEYCLARKE</a>

        <div class="user d-flex flex-row align-items-center justify-content-center">
            <a href="review" class="post p-2 col-xs-2 col-md-2">
                <img src="https://www.astleyclarke.com/media/instagram/posts/18186434911048732/standard_resolution.jpg"
                     alt="Avatar" class="image" style="width:100%">
                <div class="content-position d-flex flex-column align-items-center">
                    <i class="fab fa-instagram"></i>
                    <br>

                </div>
            </a>
            <button type="button" class="btn flex-end">
                SHOP THE LOOK
            </button>
            <a href="review" class="post p-2 col-xs-2 col-md-2">
                <img src="https://www.astleyclarke.com/media/instagram/posts/18186434911048732/standard_resolution.jpg"
                     alt="Avatar" class="image" style="width:100%">
                <div class="content-position d-flex flex-column align-items-center">
                    <i class="fab fa-instagram"></i>
                    <br>

                </div>

            </a>
            <button type="button" class="btn flex-end">
                SHOP THE LOOK
            </button>
            <a href="review" class="post p-2 col-xs-2 col-md-2">
                <img src="https://www.astleyclarke.com/media/instagram/posts/18186434911048732/standard_resolution.jpg"
                     alt="Avatar" class="image" style="width:100%">
                <div class="content-position d-flex flex-column align-items-center">
                    <i class="fab fa-instagram"></i>
                    <br>

                </div>

            </a>
            <button type="button" class="btn flex-end">
                SHOP THE LOOK
            </button>
            <a href="review" class="post p-2 col-xs-2 col-md-2">
                <img src="https://www.astleyclarke.com/media/instagram/posts/18186434911048732/standard_resolution.jpg"
                     alt="Avatar" class="image" style="width:100%">
                <div class="content-position d-flex flex-column align-items-center">
                    <i class="fab fa-instagram"></i>
                    <br>

                </div>
            </a>
            <button type="button" class="btn flex-end">
                SHOP THE LOOK
            </button>
            <a href="review" class="post p-2 col-xs-2 col-md-2">
                <img src="https://www.astleyclarke.com/media/instagram/posts/18186434911048732/standard_resolution.jpg"
                     alt="Avatar" class="image" style="width:100%">
                <div class="content-position d-flex flex-column align-items-center">
                    <i class="fab fa-instagram"></i>
                    <br>

                </div>
            </a>
            <button type="button" class="btn flex-end">
                SHOP THE LOOK
            </button>
        </div>

    </section>*@

    <section class="home_brands col-xs-12 col-md-12">
        <a href="brands">
            <h3 class="text-center">As Seen In...</h3>
            <img src="https://www.astleyclarke.com/media/cms/logos/featured-in-d.png?v=0">
        </a>
    </section>
</div>