<environment>
    <link rel="stylesheet" href="~/css/product-detail.css"/>
</environment>
<div class="product_detail container">
    <div class="row">
        <!-- !TODO: breadcrumb -->
        <section class="product_detail-breadcrumb col-xs-12 col-md-12">
            Home > Jewellery > Bracelets > <strong>Interstellar Diamond Bangle</strong>
        </section>

        <section class="product_detail-info col-xs-12 col-md-12">
            <div class="left col-xs-6 col-md-6">
                <div class="list_img col-xs-4 col-md-4">
                    <ul>
                        <li>
                            <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/thumbnail/200x200/9df78eab33525d08d6e5fb8d27136e95/4/5/45044ynob_a/Astley-Clarke-Interstellar-Diamond-Bangle-Yellow-Gold-(Solid,-100-Recycled)-45044YNOB.jpg">
                        </li>
                        <li>
                            <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/thumbnail/200x200/9df78eab33525d08d6e5fb8d27136e95/4/5/45044ynob_ugc_99-2655/Astley-Clarke-Interstellar-Diamond-Bangle-Yellow-Gold-(Solid,-100-Recycled)-45044YNOB.jpg">
                        </li>
                        <li>
                            <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/thumbnail/200x200/9df78eab33525d08d6e5fb8d27136e95/a/c/ac_stellar_1820a_1_11/Astley-Clarke-Interstellar-Diamond-Bangle-Yellow-Gold-(Solid,-100-Recycled)-45044YNOB.jpg">
                        </li>
                        <li>
                            <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/thumbnail/200x200/9df78eab33525d08d6e5fb8d27136e95/a/c/ac-interstellar-still1765/Astley-Clarke-Interstellar-Diamond-Bangle-Yellow-Gold-(Solid,-100-Recycled)-45044YNOB.jpg">
                        </li>
                    </ul>
                </div>
                <div class="detail_img col-xs-8 col-md-8">
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/5/45044ynob_a/Astley-Clarke-Interstellar-Diamond-Bangle-Yellow-Gold-(Solid,-100-Recycled)-45044YNOB.jpg">
                </div>
            </div>
            <div class="right col-xs-6 col-md-6">
                <div class="name col-xs-12 col-md-12">
                    <h3>
                        Name: Interstellar Diamond Bangle
                    </h3>
                    <h4>
                        Price: ₫63,743,102
                    </h4>
                    <h5>
                        Code: 45044YNOB
                    </h5>

                </div>
                <div class="description col-xs-12 col-md-12">
                    <p>
                        The first diamond bangle to be featured in a fine collection, this Interstellar bangle features an impactful
                        surface made up of clusters of brilliant cut diamonds, set into an elegant line of solid 14ct gold. Designed
                        to sit comfortably on the wrist, the bangle features a double security clasp. This luxurious bracelet is
                        made for stacking in with different designs for a unique statement, or can be worn alone for relaxed
                        opulence.
                    </p>
                    <ul>
                        <li>First of its kind diamond bangle</li>
                        <li>Features a surface made of clusters of brilliant cut diamonds</li>
                        <li>Set in solid 14 carat gold</li>
                        <li>Double security clasp for optimum safety</li>
                        <li>Produced using 100% recycled gold</li>
                        <li>All of our diamonds are natural and ethically sourced</li>
                    </ul>
                </div>
                <div class="colors col-xs-12 col-md-12">
                    <ul>
                        <li><img src="https://www.astleyclarke.com/uk/jewellery/bracelets/interstellar-diamond-bangle"></li>
                    </ul>
                </div>
                
                <div class="action d-flex flex-column justify-content-center align-items-center col-xs-12 col-md-12">
                    <button class="btn add_button col-xs-12 col-md-12" type="button">

                        <td>
                            <a asp-controller="cart" asp-action="buy" asp-route-id="@ViewBag.product.PdId">Buy Now</a>
                        </td>
                        ADD TO BAG
                    </button>
                    <button class="btn hint_button col-xs-12 col-md-12" type="button">
                        DROP A HINT
                    </button>
                </div>
            </div>
        </section>

        <section class="product_detail-addon col-xs-12 col-md-12">
            <div class="left col-xs-6 col-md-6">
                <div class="mini col-xs-12 col-md-12">
                    <nav id="myTab" role="tablist" class="col-xs-12 col-md-12">
                        <div class="col-xs-12 col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item col-xs-4 col-md-4">
                                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                                       aria-selected="true">Home</a>
                                </li>
                                <li class="nav-item col-xs-4 col-md-4">
                                    <a class="nav-link" id="tab2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                                       aria-selected="false">Profile</a>
                                </li>
                                <li class="nav-item col-xs-4 col-md-4">
                                    <a class="nav-link" id="tab3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                                       aria-selected="false">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="tab-content col-xs-12 col-md-12" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <table class="text-center col-xs-12 col-md-12">
                                <tr>
                                    <td>Collection</td>
                                    <td>Interstellar</td>
                                </tr>
                                <tr>
                                    <td>Gemstone</td>
                                    <td>Diamond</td>
                                </tr>
                                <tr>
                                    <td>Diamond Specification</td>
                                    <td>0.13ct White</td>
                                </tr>
                                <tr>
                                    <td>Metal</td>
                                    <td>Yellow Gold (Solid, 100% Recycled)</td>
                                </tr>
                                <tr>
                                    <td>Metal Type</td>
                                    <td>14 Carat Gold</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">tab2</div>
                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">tab3</div>
                    </div>
                </div>
                <div class="delivery col-xs-12 col-md-12">

                    <h3 class="bg-dark text-center col-xs-12 col-md-12">DELIVERY & RETURNS</h3>
                    <div class="delivery_info">
                        <h4><i class="fas fa-truck"></i> <strong>FREE SHIPPING</strong> on all (Country) orders.</h4>
                        <ul>
                            <li>Sent by Express Courier (Air)</li>
                            <li>Up to 4 working days delivery time</li>
                        </ul>


                        <h4><i class="fas fa-exchange-alt"></i> <strong>FREE RETURNS*</strong></h4>
                        <ul>
                            <li>All items, including earrings, are returnable within 14 days of receipt.</li>
                            <li style="list-style: none; font-style: italic;">*Up to 4 working days delivery time</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right col-xs-6 col-md-6">
                <div class="options col-xs-12 col-md-12">
                    <h3 class="title text-center">
                        YOU MAY ALSO LIKE
                    </h3>

                    <div class="d-flex align-items-center justify-content-center">
                        <a [routerLink]="['/accessories/bracelet']" class="col-xs-4 col-md-4">
                            <div class="text-center">
                                <img src="https://www.astleyclarke.com/media/catalog/product/4/1/41006ywtb-a.jpg"
                                     class="one-edge-shadow">
                                <h3 class="text-center">
                                    Mother of Pearl Floris Kula Bracelet
                                </h3>
                            </div>
                        </a>
                        <a [routerLink]="['/accessories/rings']" class="col-xs-4 col-md-4">
                            <div class="text-center">
                                <img src="https://www.astleyclarke.com/media/catalog/product/4/4/44036snon-a.jpg"
                                     class="one-edge-shadow">
                                <h3 class="text-center">
                                    Biography Cosmos Locket Necklace
                                </h3>
                            </div>
                        </a>
                        <a [routerLink]="['/accessories/earrings']" class="col-xs-4 col-md-4">
                            <div class="text-center">
                                <img src="https://www.astleyclarke.com/media/catalog/product/3/9/39078snob_a_spiga.jpg"
                                     class="one-edge-shadow">
                                <h3>
                                    Cylinder Kula Biography Bracelet
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="public col-xs-12 col-md-12">
                    <h3 class="title text-center">
                        #AstleyClarke
                    </h3>

                    <h2 class="text-center">
                        BE THE INSPIRATION – SHOW US HOW YOU WEAR YOURS
                    </h2>

                    <div class="d-flex align-items-center justify-content-center">
                        <a [routerLink]="['/accessories/bracelet']" class="col-xs-4 col-md-4">
                            <div class="text-center">
                                <img src="https://www.astleyclarke.com/media/cms/home/2021-01-08/top-promo-bracelets-d.jpg"
                                     class="one-edge-shadow">
                                <h3 class="text-center">
                                    Mother of Pearl Floris Kula Bracelet
                                </h3>
                            </div>
                        </a>
                        <a [routerLink]="['/accessories/rings']" class="col-xs-4 col-md-4">
                            <div class="text-center">
                                <img src="https://www.astleyclarke.com/media/cms/home/2021-01-08/top-promo-rings-d.jpg"
                                     class="one-edge-shadow">
                                <h3 class="text-center">
                                    Biography Cosmos Locket Necklace
                                </h3>
                            </div>
                        </a>
                        <a [routerLink]="['/accessories/earrings']" class="col-xs-4 col-md-4">
                            <div class="text-center">
                                <img src="https://www.astleyclarke.com/media/cms/home/2021-01-08/top-promo-earrings-d.jpg"
                                     class="one-edge-shadow">
                                <h3>
                                    Cylinder Kula Biography Bracelet
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="product_detail-review col-xs-12 col-md-12">
            <h3 class="review-title col-xs-12 col-md-12 text-center">REVIEWS</h3>
            <div class="customer col-xs-12 col-md-12">
                <div class="info col-xs-12 col-md-12">
                    <div class="left col-xs-6 col-md-6">
                        <h3>Emma Y.</h3>
                        <h4>(United Kingdom - 03/01/2021)</h4>
                        <span>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </span>
                    </div>
                    <div class="right col-xs-6 col-md-6">
                        <ul>
                            <li>Metal: product's metal |</li>
                            <li>Gemstone: product's gemstone |</li>
                            <li style="color: green; font-weight: bold;">Verified purchase</li>
                        </ul>
                    </div>
                </div>
                <div class="comment col-xs-12 col-md-12">
                    <p>
                        Gorgeous bracelet. I bought this as the opal version had been on my wish list for a while, but sold out.
                        The bracelet is dainty, very beautiful and extremely good quality.
                    </p>
                </div>
            </div>
            <div class="customer col-xs-12 col-md-12">
                <div class="info col-xs-12 col-md-12">
                    <div class="left col-xs-6 col-md-6">
                        <h3>Emma Y.</h3>
                        <h4>(United Kingdom - 03/01/2021)</h4>
                        <span>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </span>
                    </div>
                    <div class="right col-xs-6 col-md-6">
                        <ul>
                            <li>Metal: product's metal |</li>
                            <li>Gemstone: product's gemstone |</li>
                            <li style="color: green; font-weight: bold;">Verified purchase</li>
                        </ul>
                    </div>
                </div>
                <div class="comment col-xs-12 col-md-12">
                    <p>
                        Gorgeous bracelet. I bought this as the opal version had been on my wish list for a while, but sold out.
                        The bracelet is dainty, very beautiful and extremely good quality.
                    </p>
                </div>
            </div>
            <div class="customer col-xs-12 col-md-12">
                <div class="info col-xs-12 col-md-12">
                    <div class="left col-xs-6 col-md-6">
                        <h3>Emma Y.</h3>
                        <h4>(United Kingdom - 03/01/2021)</h4>
                        <span>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </span>
                    </div>
                    <div class="right col-xs-6 col-md-6">
                        <ul>
                            <li>Metal: product's metal |</li>
                            <li>Gemstone: product's gemstone |</li>
                            <li style="color: green; font-weight: bold;">Verified purchase</li>
                        </ul>
                    </div>
                </div>
                <div class="comment col-xs-12 col-md-12">
                    <p>
                        Gorgeous bracelet. I bought this as the opal version had been on my wish list for a while, but sold out.
                        The bracelet is dainty, very beautiful and extremely good quality.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>