
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<head>
    <title>Index</title>
</head>
<body>
    <form>
        Email <input type="email" name="email" id="logEmail" placeholder="Enter email ..." /><br />
        Password <input type="Password" name="Password" id="logPassword" placeholder="Enter Password ..." /><br />
        <input type="submit" value="Login" />
    </form>
    <br />
    <a>Forgot password</a><br />
    <a>Sign up</a>
</body>
</html>


