
@{
    Layout = null;
}

<html>
<head>
    <title>Register</title>
</head>
<body>
    <form>
        Email <input type="email" name="email" id="logEmail" placeholder="Enter email ..." /><br />
        User Name <input type="text" name="username" id="logusername" placeholder="Enter username ..." /><br />
        Password <input type="Password" name="Password" id="logPassword" placeholder="Enter Password ..." /><br />
        <input type="submit" value="Sign Up" />
    </form>
    <br />
    <a>Forgot password</a><br />
    <a>Sign up</a>
</body>
</html>


