@{ ViewData["Title"] = "Home Page";
    Layout = "LayoutAdmin";}



@*<div class="page-content p-5 mt-5 " id="content">*@
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-4">
            <div class=" title-header" style="background-color: #dedef6">
                <div class="row">
                    <div class="col-lg-8 mt-5 mb-4 pl-5">
                        <h5>Tổng số công thức</h5>
                    </div>
                    <div class="col-lg-4 mt-5 mb-4 text-center">
                        <h5>10</h5>
                    </div>
                </div>
                <div class=" btn btn-secondary" style="width: 100%">More info</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class=" title-header" style="background-color: #dedef6">
                <div class="row">
                    <div class="col-lg-8 mt-5 mb-4 pl-5">
                        <h5>Tổng số người dùng</h5>
                    </div>
                    <div class="col-lg-4 mt-5 mb-4 text-center">
                        <h5>10</h5>
                    </div>
                </div>
                <div class=" btn btn-secondary" style="width: 100%">More info</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="title-header" style="background-color: #dedef6">
                <div class="row">
                    <div class="col-lg-8 mt-5 mb-4 pl-5">
                        <h5>Tổng số đơn hàng</h5>
                    </div>
                    <div class="col-lg-4 mt-5 mb-4 text-center">
                        <h5>10</h5>
                    </div>
                </div>
                <div class=" btn btn-secondary" style="width: 100%">More info</div>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="container">
    <div id="chart1" style="width: 100%"></div>
</div>
<div class="mt-5">
    <h5 class="p-2">Khách vip</h5>
    <table class="table bg-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Gói đăng kí</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Nguyên Giang Sơn</td>
                <td>son@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Hoàng Quân NHận Minh</td>
                <td>Minh@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Đỗ Thị Hồng Hạnh</td>
                <td>Hạnh@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Phạm Ngọc Quỳnh</td>
                <td>Quynh@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Tran Thi An</td>
                <td>An@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*</div>*@
