@model ProjectTeamVitAspDotNetCore.Models.Color

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 style="padding-left:20px;padding-bottom:20px">Create Colors</h4>

<div class="container bg-white pt-3">
    <div class="mt-4" style="margin-left:60px">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ColorId" class="control-label"></label>
                        <input asp-for="ColorId" class="form-control" />
                        <span asp-validation-for="ColorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <button type="button" class="btn btn-danger">
                            <a asp-action="Index" class="text-white">Back to List</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
