<environment>
    <link rel="stylesheet" href="~/css/jewellery.css" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
</environment>
<p style="margin-left:100px; margin-top:30px;font-family: 'Open Sans Condensed', sans-serif; font-size:20px">
    Your shopping cart is empty!</br>
    Please come back later...
</p>
<a class="cta" asp-controller="Product" asp-action="Rings">Go to Page Rings</a><br />
<a class="cta" asp-controller="Product" asp-action="Necklaces">Go to Page Necklaces</a><br />
<a class="cta" asp-controller="Product" asp-action="Earrings">Go to Page Earrings</a><br />
<a class="cta" asp-controller="Product" asp-action="Bracelets">Go to Page Bracelets</a><br />
<a class="cta" asp-controller="Product" asp-action="Lockets">Go to Page Lockets</a><br />
<a class="cta" asp-controller="Product" asp-action="Bestsellers">Go to Page Bestsellers</a><br />