<h4>
    Your shopping cart is empty!
    Please come back later...
</h4>
<a asp-controller="Product" asp-action="Rings">Go to Page Rings</a><br />
<a asp-controller="Product" asp-action="Necklaces">Go to Page Necklaces</a><br />
<a asp-controller="Product" asp-action="Earrings">Go to Page Earrings</a><br />
<a asp-controller="Product" asp-action="Bracelets">Go to Page Bracelets</a><br />
<a asp-controller="Product" asp-action="Lockets">Go to Page Lockets</a><br />
<a asp-controller="Product" asp-action="Bestsellers">Go to Page Bestsellers</a><br />