<environment>
    <link rel="stylesheet" href="/css" />
</environment>

<nav class="navbar navbar-light bg-white">
    <form class="form-inline col-12">
        <div class="col-10">
            <input class="form-control mr-sm-2" style="width:100%" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-2">
            <button class="btn btn-outline-success my-2 my-sm-0" style="width:100%" type="submit">Search</button>
        </div>
    </form>
</nav>

<div class="mt-3">
    <table class="table bg-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Product's name</th>
                <th scope="col">Qty</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/1348x1348/9df78eab33525d08d6e5fb8d27136e95/4/6/46038yrdr_a/Astley-Clarke-Ruby-Stacking-Ring-Yellow-Gold-(Solid)-46038YRDR.jpg" height="100" width="150" alt="Alternate Text" />
                </td>
                <td>Ruby Stacking Ring</td>
                <td>20</td>
                <td>£325</td>
                <td>
                    <div class="btn btn-success">
                        <a asp-controller="EditProd" asp-action="Index" style="color: white">
                            Edit
                        </a>
                    </div>
                    <div class="btn btn-danger">Delete</div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/1348x1348/9df78eab33525d08d6e5fb8d27136e95/4/6/46038yrdr_a/Astley-Clarke-Ruby-Stacking-Ring-Yellow-Gold-(Solid)-46038YRDR.jpg" height="100" width="150" alt="Alternate Text" />
                </td>
                <td>Ruby Stacking Ring</td>
                <td>20</td>
                <td>£325</td>
                <td>
                    <div class="btn btn-success">
                        <a asp-controller="EditProd" asp-action="Index" style="color: white">
                            Edit
                        </a>
                    </div>
                    <div class="btn btn-danger">Delete</div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/1348x1348/9df78eab33525d08d6e5fb8d27136e95/4/6/46038yrdr_a/Astley-Clarke-Ruby-Stacking-Ring-Yellow-Gold-(Solid)-46038YRDR.jpg" height="100" width="150" alt="Alternate Text" />
                </td>
                <td>Ruby Stacking Ring</td>
                <td>20</td>
                <td>£325</td>
                <td>
                    <div class="btn btn-success">
                        <a asp-controller="EditProd" asp-action="Index" style="color: white">
                            Edit
                        </a>
                    </div>
                    <div class="btn btn-danger">Delete</div>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/1348x1348/9df78eab33525d08d6e5fb8d27136e95/4/6/46038yrdr_a/Astley-Clarke-Ruby-Stacking-Ring-Yellow-Gold-(Solid)-46038YRDR.jpg" height="100" width="150" alt="Alternate Text" />
                </td>
                <td>Ruby Stacking Ring</td>
                <td>20</td>
                <td>£325</td>
                <td>
                    <div class="btn btn-success">
                        <a asp-controller="EditProd" asp-action="Index" style="color: white">
                            Edit
                        </a>
                    </div>
                    <div class="btn btn-danger">Delete</div>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>
                    <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/1348x1348/9df78eab33525d08d6e5fb8d27136e95/4/6/46038yrdr_a/Astley-Clarke-Ruby-Stacking-Ring-Yellow-Gold-(Solid)-46038YRDR.jpg" height="100" width="150" alt="Alternate Text" />
                </td>
                <td>Ruby Stacking Ring</td>
                <td>20</td>
                <td>£325</td>
                <td>
                    <div class="btn btn-success">
                        <a asp-controller="EditProd" asp-action="Index" style="color: white">
                            Edit
                        </a>
                    </div>
                    <div class="btn btn-danger">Delete</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>