
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" asp-controller="Account" asp-action="Login">
    Username: <input type="text" />
    Password: <input type="password" />
    <input type="submit" value="Login"/>
</form>

