@model ProjectTeamVitAspDotNetCore.Models.Order

@{
    ViewData["Title"] = "EditOrder";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h2>Edit Infomation Receiver</h2>


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Edit Color</h3>
    </div>

    <form asp-controller="Account" asp-action="EditOrder" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" asp-for="CreateTime" class="form-control" />
            <input type="hidden" asp-for="Status" class="form-control" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Gender" class="form-control">
                    <option value="Man">Man</option>
                    <option value="Woman">Woman</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Email" class="form-control" asp-items="ViewBag.Email" />

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save Change</button>
                <a asp-action="ListOrder" class="btn btn-success">Back To List</a>
            </div>
        </div>
    </form>
</div>

