<environment>
    <link rel="stylesheet" href="/css/login.css" />
</environment>

<div class="info-change">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 information">
                <h2 class="text-center">Change Password</h2>
                <form method="post" asp-controller="Account" asp-action="PasswordChange">   
                    <div class="form-group">
                        <label for="current_password">Current Password:</label>
                        <input type="password" name="currentpassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="newpassword">New Password:</label>
                        <input type="password" name="newpassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm New Password:</label>
                        <input type="password" name="confirmnewpassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn-dark" value="Change Password" />
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 img-change"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>