@model ProjectTeamVitAspDotNetCore.Models.User
<environment>
    <link rel="stylesheet" href="/css/login.css" />
</environment>

<div class="info-signup">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 information">
                <h2 class="text-center">Let's get you on board</h2>
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-group name-left">
                            <label for="Fname" class="control-label">First Name:</label>
                            <input type="text" class="form-control" asp-for="Fname" id="Fname" name="Fname" />
                        </div>
                        <div class="form-group username-right">
                            <label for="Fname" class="control-label">First Name:</label>
                            <input type="text" class="form-control" asp-for="Lname" id="Lname" name="Lname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Phone" class="control-label">Phone:</label>
                        <input type="text" asp-for="Phone" id="Phone" name="Phone" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Email" class="control-label">Email:</label>
                        <input type="email" asp-for="Email" id="Email" name="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Bdate" class="control-label">Birthday:</label>
                        <input type="date" asp-for="Bdate" id="Bdate" name="Bdate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Gender" class="control-label">Gender:</label><br/>
                        <span>Man</span><input type="radio" asp-for="Gender" id="Gender" name="Gender" value="Man" class="form-control" />
                                        <span>Woman</span><input type="radio" asp-for="Gender" id="Gender" name="Gender" value="Woman" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Address" class="control-label">Address:</label>
                        <input type="text" asp-for="Address" id="Address" name="Address" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="Avatar" class="control-label">Avatar:</label>
                        <input type="file" asp-for="Avatar" id="Avatar" name="Avatar" class="form-control" />
                    </div>

                    <div class="form-group">
                        <div class="form-group name-left">
                            <label for="Password" class="control-label">Password:</label>
                            <input type="password" asp-for="Password" id="Password" name="Password" class="form-control" />
                        </div>
                        <div class="form-group username-right">
                            <label for="ConfirmPassword" class="control-label">Confirm Password:</label>
                            <input type="text" asp-for="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span>
                            <input type="checkbox" id="checkbox_user_agree_to_term" name="user[agree_to_term]">
                            <label for="checkbox_user_agree_to_term">Creating an account means you’re okay with our Terms of Service, Privacy Policy, and our default Notification Settings.<a href="">Terms & Conditions</a></label>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="CREATE ACCOUNT" class="btn-dark" onclick="return Validate();" />
                        Already have an account ? <a asp-controller="Account" asp-action="Login">Login</a>
                    </div>


                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 img-signup"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<script>
    function Validate() {
        var chkOK = document.getElementById('checkbox_user_agree_to_term');
        if (!chkOK.checked) {
            chkOK.focus();
            alert("You do not agree to the terms!");
            return false;
        }
        return true;
    }</script>