@model ProjectTeamVitAspDotNetCore.Models.User

@{ Layout = "_LayoutLogin"; }
<environment>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</environment>

<div class="img-signup">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 information">
            <h2 class="text-center">Sign up</h2>
            <form asp-controller="Account" enctype="multipart/form-data" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="form-group name-left">
                        @*<label asp-for="Fname" class="control-label">First Name: </label>*@
                        <input name="Fname" class="form-control" placeholder="First Name" />
                        <span asp-validation-for="Fname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group username-right">
                        @*<label asp-for="Lname" class="control-label">Last Name: </label>*@
                        <input asp-for="Lname" name="Lname" class="form-control" placeholder="Last Name" />
                        <span asp-validation-for="Lname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    @*<label asp-for="Bdate" class="control-label">Birthday: </label>*@
                    <input type="date" asp-for="Bdate" name="Bdate" min="1900-01-01" max="2021-01-31" class="form-control" placeholder="Birthday" />
                    <span asp-validation-for="Bdate" class="text-danger" min="1900-01-01" max="2021-01-31"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Address" class="control-label">Address: </label>*@
                    <input asp-for="Address" name="Address" class="form-control" placeholder="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Phone" class="control-label">Phone: </label>*@
                    <input asp-for="Phone" name="Phone" class="form-control" placeholder="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Email" class="control-label">Email: </label>*@
                    <input type="Email" asp-for="Email" name="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Password" class="control-label">Password: </label>*@
                    <input type="password" asp-for="Password" name="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="ConfirmPassword" class="control-label">Confirm Password: </label>*@
                    <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="ZipCode" class="control-label">Zip Code</label>*@
                    <input asp-for="ZipCode" name="ZipCode" class="form-control" placeholder="Zip Code" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Avatar" class="control-label">Avatar: </label>*@
                    <input type="file" asp-for="Avatar" name="Avatar" class="form-control" placeholder="Avatar" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
                <div class="form-group gender">
                    <select asp-for="Gender" class="form-control">
                        <option value="Man">Man</option>
                        <option value="Woman">Woman</option>
                        <option value="Woman">LGBT</option>
                    </select>
                </div>
                <input type="hidden" asp-for="Eable" value="true" name="Eable" class="form-control" />
                <a asp-controller="Account" asp-action="Login" style="color:white;">Login</a>
                <div class="form-group">
                    <input type="submit" value="CREATE ACCOUNT" class="btn-light" />
                </div>
            </form>


        </div>
        <div class="col-md-6"></div>
    </div>
</div>
</div>

<script>
    function Validate() {
        var chkOK = document.getElementById('checkbox_user_agree_to_term');
        if (!chkOK.checked) {
            chkOK.focus();
            alert("You do not agree to the terms!");
            return false;
        }
        return true;
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
