<html>
<head>
    <link rel="stylesheet" href="~/css/provider.css" />
</head>
<body class="route" style="background: #fff5f7">
    <div class="app">
        <div class="header-bar">
            <div class="header-content">
                <a asp-controller="Home" asp-action="Index" class="header-name">Ice Cream</a>
                <div class="content-box">
                    <a href="#" class="breadcrumb-text">Kênh người bán</a>
                </div>
                <div style="position: relative; display: inline-block; margin-left:800px">
                    <div class="account-box">
                        <div class="account">
                            <img class="account-avatar" src="https://cf.shopee.vn/file/e3aea05255b46e75be739f3d47781132" />
                            <span class="account-name">quynhquynh_04082001</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-container">
            <div class="sidebar-container">
                <div class="sidebar-container1">
                    <div class="sidebar">
                        <ul class="sidebar-menu">
                            <li class="sidebar-menu-box">
                                <div class="sidebar-menu-item">
                                    <img class="sidebar-menu-item-icon" src="https://cf.shopee.vn/file/f82f8ccb649afcdf4f07f1dd9c41bcb0" />
                                    <span class="sidebar-menu-item-text">Quản Lý Đơn Hàng</span>
                                    <i class="sidebar-menu-item-collapse ice-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
                                    </i>
                                </div>
                                <ul class="sidebar-submenu">
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Tất Cả Đơn Hàng</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-box">
                                <div class="sidebar-menu-item">
                                    <img class="sidebar-menu-item-icon" src="https://cf.shopee.vn/file/3fa3bdb20eb201ae3f157ee8d11a39d5" />
                                    <span class="sidebar-menu-item-text">Quản Lý Sản Phẩm</span>
                                    <i class="sidebar-menu-item-collapse ice-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
                                    </i>
                                </div>
                                <ul class="sidebar-submenu">
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Tất Cả Sản Phẩm</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Công Thức Miễn Phí</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Công Thức Tính Phí</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Công Thức Theo Gói Tháng</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-box">
                                <div class="sidebar-menu-item">
                                    <img class="sidebar-menu-item-icon" src="https://cf.shopee.vn/file/f9e8756bcf783fe1783bf59577fdb263" />
                                    <span class="sidebar-menu-item-text">Tài Chính</span>
                                    <i class="sidebar-menu-item-collapse ice-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
                                    </i>
                                </div>
                                <ul class="sidebar-submenu">
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Doanh Thu</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Tài Khoản Ngân Hàng</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Thiết Lập Thanh Toán</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-box">
                                <div class="sidebar-menu-item">
                                    <img class="sidebar-menu-item-icon" src="https://cf.shopee.vn/file/09759afab8ae066ca5e1630bc19133a1" />
                                    <span class="sidebar-menu-item-text">Dữ Liệu</span>
                                    <i class="sidebar-menu-item-collapse ice-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
                                    </i>
                                </div>
                                <ul class="sidebar-submenu">
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Phân Tích Bán Hàng</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Hiệu Quả Hoạt Động</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-box">
                                <div class="sidebar-menu-item">
                                    <img class="sidebar-menu-item-icon" src="https://cf.shopee.vn/file/9f2ae273250a1a723d7d8892c9584c6d" />
                                    <span class="sidebar-menu-item-text">Chăm Sóc Khách Hàng</span>
                                    <i class="sidebar-menu-item-collapse ice-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
                                    </i>
                                </div>
                                <ul class="sidebar-submenu">
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Trợ Lý Chat</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-menu-box">
                                <div class="sidebar-menu-item">
                                    <img class="sidebar-menu-item-icon" src="https://cf.shopee.vn/file/6b1ffcde1ff12621088110f419a5283a" />
                                    <span class="sidebar-menu-item-text">Quản Lý Shop</span>
                                    <i class="sidebar-menu-item-collapse ice-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
                                    </i>
                                </div>
                                <ul class="sidebar-submenu">
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Hồ Sơ Shop</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Danh Mục Của Shop</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-submenu-item">
                                        <a class="sidebar-submenu-item-link" href="#">
                                            <span>Báo Cáo Của Tôi</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-container">
                <div class="page-content-wrapper">
                    <div class="home">
                        <div class="flex-box">
                            <div class="content">
                                <div class="main-column">
                                    <div class="card card-offset">
                                        <div class="title">
                                            Danh Sách Cần Làm
                                            <p class="card-tips">Những việc bạn sẽ phải làm</p>
                                        </div>

                                        <div class="async-data-wrapper">
                                            <div class="todo-box">
                                                <a href="#" class="item">
                                                    <p class="item-title">0</p>
                                                    <p class="item-desc">Chờ Xác Nhận</p>
                                                </a>

                                                <a href="#" class="item">
                                                    <p class="item-title">0</p>
                                                    <p class="item-desc">Chờ Thanh Toán</p>
                                                </a>

                                                <a href="#" class="item">
                                                    <p class="item-title">0</p>
                                                    <p class="item-desc">Đã Thanh Toán</p>
                                                </a>

                                                <a href="#" class="item1">
                                                    <p class="item-title">0</p>
                                                    <p class="item-desc">Chương Trình Khuyến Mãi Chờ Xử Lý</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card card-offset">
                                        <div class="title">
                                            Phân Tích Bán Hàng
                                            <p class="card-tips">Dữ liệu tổng quan của các đơn hàng</p>
                                        </div>
                                        <div class="async-data-wrapper">
                                            <div class="content">
                                                <div class="chart">
                                                    <p class="item-title1 text-overflow">Đã bán</p>
                                                    <p class="item-number text-overflow">
                                                        <span style="font-size:14px">0</span>
                                                    </p>
                                                    <div class="chart-box">
                                                        <canvas data-v-72a3b472="" width="450" height="173" class="chart chartjs-render-monitor" style="display: block; height: 139px; width: 360px;"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card card-offset">
                                        <div class="title">
                                            Hiệu Quả Hoạt Động
                                            <p class="card-tips">Bảng Hiệu Quả Hoạt Động giúp Người bán hiểu rõ hơn về hoạt động buôn bán của mình dựa trên những chỉ tiêu sau:</p>
                                        </div>
                                        <div class="async-data-wrapper">
                                            <div class="tabs">
                                                <div class="tabs-nav">
                                                    <div class="tabs-nav-tabs" style="transform: translateX(0px)">
                                                        <div class="tabs-nav-tab" style="white-space: normal">Quản Lý Đơn Hàng</div>
                                                        <div class="tabs-nav-tab" style="white-space: normal">Chăm Sóc Khách Hàng   </div>
                                                        <div class="tabs-nav-tab" style="white-space: normal">Mức Độ Hài Lòng Của Người Mua</div>
                                                    </div>
                                                    <div class="tabs-inkbar" style="width: 184px; transform: translateX(0px)"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="aside-column">

                                    <div class="title1">Thông Báo</div>
                                    <div class="async-data-wrapper annouce-wrapper">
                                        <div class="box">
                                            <div class="content">
                                                <div class="item2 item-hover">
                                                    <p class="title-annouce">Đăng nhiều bài viết sản phẩm, nhận nhiều quan tâm.</p>
                                                    <p class="desc">Đăng càng nhiều sản phẩm, càng nhận được nhiều sự quan tâm. Đăng ngay tại đây!!!</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="box">
                                            <div class="content">
                                                <div class="item2 item-hover">
                                                    <p class="title-annouce">Trở thành thánh tiêu thụ sản phẩm siêu nhanh.</p>
                                                    <p class="desc">Lên top với danh hiệu thánh tiêu thụ sản phẩm siêu nhanh và nhận phần quà khủng.Chi tiết tại đây!!!</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="box">
                                            <div class="content">
                                                <div class="item2 item-hover">
                                                    <p class="title-annouce">Cơ hội nhận đến 20 TRIỆU MỖI THÁNG.</p>
                                                    <p class="desc">Không chỉ kiếm tiền đơn giản từ việc chia sẻ link tiếp thị với mọi người,bạn có cơ hội bùng nổ doanh số khi tăng thứ hạng hiển thị gian hàng mà không tốn phí đấu thầu!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>