@model ProjectTeamVitAspDotNetCore.Models.Metal

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create Metal</h3>
    </div>

    <form asp-controller="Brands" enctype="multipart/form-data" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Metal Code</label>
                <input type="text" asp-for="MetalId" class="form-control" id="exampleInputEmail1">
                <span asp-validation-for="MetalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input asp-for="Name" type="text" class="form-control" id="exampleInputPassword1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Carat of Metal</label>
                <input asp-for="MetalCrt" class="form-control" id="exampleInputPassword1" />
                <span asp-validation-for="MetalCrt" class="text-danger"></span>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Create New Metal</button>
            <a asp-action="index" class="btn btn-success">Back To List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
