@model ProjectTeamVitAspDotNetCore.Models.Metal

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Edit Metal</h3>
    </div>

    <form asp-controller="Metals" enctype="multipart/form-data" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <input type="hidden" asp-for="MetalId" />
            <div class="form-group">
                <label for="exampleInputPassword1">Metal Name</label>
                <input asp-for="Name" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Product Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Carat of Metal</label>
                <input asp-for="MetalCrt" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Product Name">
                <span asp-validation-for="MetalCrt" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save Change</button>
            <a asp-action="index" class="btn btn-success">Back To List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
