@model ProjectTeamVitAspDotNetCore.Models.Stone

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create Stone</h3>
    </div>

    <form asp-controller="Stones" enctype="multipart/form-data" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Stone Code</label>
                <input type="text" asp-for="StoneId" class="form-control" id="exampleInputEmail1" placeholder="Enter Code">
                <span asp-validation-for="StoneId" class="text-danger"></span>
                <span style="color:red"> @ViewBag.Error</span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Stone Name</label>
                <input asp-for="Name" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter  Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Stone Price</label>
                <input asp-for="Price" class="form-control" id="exampleInputPassword1" placeholder="Enter  Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Stone Description</label>
                <input asp-for="Description" class="form-control" id="exampleInputPassword1" placeholder="Enter  Desciption">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label for="exampleInputPassword1">Carat Of Stone</label>
                <input asp-for="StoneCrt" class="form-control" id="exampleInputPassword1" placeholder="Enter ">
                <span asp-validation-for="StoneCrt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Weight Of Each Stone(Grams)</label>
                <input asp-for="StoneGm" class="form-control" />
                <span asp-validation-for="StoneGm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Rate Of Each Stone</label>
                <input asp-for="StoneRate" class="form-control" />
                <span asp-validation-for="StoneRate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Total Amount Of Stones In Item</label>
                <input asp-for="StoneAmt" class="form-control" />
                <span asp-validation-for="StoneAmt" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Create New Stone</button>
            <a asp-action="index" class="btn btn-success">Back To List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
