@model Project.Models.DimInfoMst

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DimInfoMst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DimId" class="control-label"></label>
                <input asp-for="DimId" class="form-control" />
                <span asp-validation-for="DimId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimType" class="control-label"></label>
                <input asp-for="DimType" class="form-control" />
                <span asp-validation-for="DimType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimSubType" class="control-label"></label>
                <input asp-for="DimSubType" class="form-control" />
                <span asp-validation-for="DimSubType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimCrt" class="control-label"></label>
                <input asp-for="DimCrt" class="form-control" />
                <span asp-validation-for="DimCrt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimPrice" class="control-label"></label>
                <input asp-for="DimPrice" class="form-control" />
                <span asp-validation-for="DimPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimImg" class="control-label"></label>
                <input asp-for="DimImg" class="form-control" />
                <span asp-validation-for="DimImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
