
<div class="text-center">

    <a asp-controller="BrandMsts" asp-action="Index">Brand</a><br />
    <a asp-controller="CartLists" asp-action="Index">CartLists</a><br />
    <a asp-controller="CatMsts" asp-action="Index">CatMsts</a><br />
    <a asp-controller="CertifyMsts" asp-action="Index">CertifyMsts</a><br />
    <a asp-controller="DimInfoMsts" asp-action="Index">DimInfoMsts</a><br />
    <a asp-controller="DimMsts" asp-action="Index">DimMsts</a><br />
    <a asp-controller="DimQltyMsts" asp-action="Index">DimQltyMsts</a><br />
    <a asp-controller="DimQltySubMsts" asp-action="Index">DimQltySubMsts</a><br />
    <a asp-controller="GoldKrtMsts" asp-action="Index">GoldKrtMsts</a><br />
    <a asp-controller="Inquiries" asp-action="Index">Inquiries</a><br />
    <a asp-controller="ItemMsts" asp-action="Index">ItemMsts</a><br />
    <a asp-controller="JewelTypeMsts" asp-action="Index">JewelTypeMsts</a><br />
    <a asp-controller="ProdMsts" asp-action="Index">ProdMsts</a><br />
    <a asp-controller="StoneMsts" asp-action="Index">StoneMsts</a><br />
    <a asp-controller="StoneQltyMsts" asp-action="Index">StoneQltyMsts</a><br />
    <a asp-controller="UserRegMsts" asp-action="Index">UserRegMsts</a><br />

</div>
