@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-4">
            <div class=" title-header" style="background-color: white;border:1px solid #a59b9b;border-radius:15px">
                <div class="row">
                    <div class="mt-4 pl-5">
                        <h6>Total product</h6>
                    </div>
                    <div class="col-lg-12 mt-2 mb-3">
                        <div class="row">
                            <div class="col-lg-6 mt-2">
                                <i class="fas fa-chart-pie pt-2 pl-5" style="color:green;font-size:30px"></i>
                            </div>
                            <div class="col-lg-6 mt-2 pr-3">
                                <div class="btn btn-outline-success" style="margin-left:60px">550</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class=" title-header" style="background-color: white;border:1px solid #a59b9b;border-radius:15px">
                <div class="row">
                    <div class="mt-4 pl-5">
                        <h6>Total number of customers</h6>
                    </div>
                    <div class="col-lg-12 mt-2 mb-3">
                        <div class="row">
                            <div class="col-lg-6 mt-2">
                                <i class="far fa-chart-bar pt-2 pl-5" style="color:red;font-size:30px"></i>
                            </div>
                            <div class="col-lg-6 mt-2">
                                <div class="btn btn-outline-danger" style="margin-left:60px">2000</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="title-header" style="background-color: white;border:1px solid #a59b9b;border-radius:15px">
                <div class="row">
                    <div class="mt-4 pl-5">
                        <h6>Total number of orders</h6>
                    </div>
                    <div class="col-lg-12 mt-2 mb-3">
                        <div class="row">
                            <div class="col-lg-6 mt-2">
                                <i class="fas fa-chart-line pt-2 pl-5" style="color:blue;font-size:30px"></i>
                            </div>
                            <div class="col-lg-6 mt-2">
                                <div class="btn btn-outline-primary" style="margin-left:60px">550</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div id="chart1" style="width: 100%"></div>
</div>
<div class="mt-5">
    <h5 class="p-2">Khách vip</h5>
    <table class="table bg-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Gói đăng kí</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Nguyên Giang Sơn</td>
                <td>son@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Hoàng Quân NHận Minh</td>
                <td>Minh@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Đỗ Thị Hồng Hạnh</td>
                <td>Hạnh@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Phạm Ngọc Quỳnh</td>
                <td>Quynh@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Tran Thi An</td>
                <td>An@gmail.com</td>
                <td>12131243</td>
                <td>Vip</td>
                <td>
                    <div class="btn btn-success">Chỉnh sửa</div>
                    <div class="btn btn-danger">Xóa</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
