<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Black Diamond</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ruby-tab" data-toggle="tab" href="#ruby" role="tab" aria-controls="ruby" aria-selected="false">Ruby</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="opal-tab" data-toggle="tab" href="#opal" role="tab" aria-controls="opal" aria-selected="false">Opal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sapphire-tab" data-toggle="tab" href="#sapphire" role="tab" aria-controls="sapphire" aria-selected="false">Sapphire</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="emerald-tab" data-toggle="tab" href="#emerald" role="tab" aria-controls="emerald" aria-selected="false">Emerald</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="morganite-tab" data-toggle="tab" href="#morganite" role="tab" aria-controls="morganite" aria-selected="false">Morganite</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-striped">
            <thead>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td style="width:5%;"></td>
                    <td style="width:15%;">Product Name</td>
                    <td style="width:25%;">Image</td>
                    <td style="width:10%;">Metal Type</td>
                    <td style="width:20%;">Price</td>
                    <td style="width:15%;"></td>

                </tr>
            </thead>
            <tbody>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>1</span>
                    </td>
                    <td class="product-name">
                        <span>Medium Halo Black Diamond Hoop Earrings</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/3/7/37031rbkeos_a/Astley-Clarke-Mini-Halo-Black-Diamond-Hoop-Earrings-Rose-Gold-(Solid,-100-Recycled)-37031RBKE.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,113</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>2</span>
                    </td>
                    <td class="product-name">
                        <span>Medium Interstellar Black Diamond Hoop Earrings</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/4/5/45034rbkeos_a/Astley-Clarke-Medium-Interstellar-Black-Diamond-Hoop-Earrings-Rose-Gold-(Solid,-100-Recycled)-45034RBKE.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,253</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>3</span>
                    </td>
                    <td class="product-name">
                        <span>Medium Halo Black Diamond Hoop Earrings</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/3/7/37038rbkeos_a/Astley-Clarke-Icon-Black-Diamond-Earrings-Rose-Gold-(Solid,-100-Recycled)-37038RBKE.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,393</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>4</span>
                    </td>
                    <td class="product-name">
                        <span>Flash Interstellar Black Diamond Ring</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/3/8/38051rbkr_a/Astley-Clarke-Flash-Interstellar-Black-Diamond-Ring-Rose-Gold-(Solid,-100-Recycled)-38051RBKR.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,190</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>5</span>
                    </td>
                    <td class="product-name">
                        <span>Fusion Interstellar Black Diamond Ring</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/3/8/38050rbkr_a/Astley-Clarke-Fusion-Interstellar-Black-Diamond-Ring-Rose-Gold-(Solid,-100-Recycled)-38050RBKR.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,540</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>6</span>
                    </td>
                    <td class="product-name">
                        <span>Icon Black Diamond Ring</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/3/7/37037rbkr50_a/Astley-Clarke-Icon-Black-Diamond-Ring-Rose-Gold-(Solid,-100-Recycled)-37037RBKR.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$973</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>7</span>
                    </td>
                    <td class="product-name">
                        <span>Icon Black Diamond Pendant Necklace</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/3/7/37039rbkn18_a/Astley-Clarke-Icon-Black-Diamond-Pendant-Necklace-Rose-Gold-(Solid,-100-Recycled)-37039RBKN.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,253</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade active show" id="ruby" role="tabpanel" aria-labelledby="ruby-tab">
        <table class="table table-striped">
            <thead>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td style="width:5%;"></td>
                    <td style="width:15%;">Product Name</td>
                    <td style="width:25%;">Image</td>
                    <td style="width:10%;">Metal Type</td>
                    <td style="width:20%;">Price</td>
                    <td style="width:15%;"></td>

                </tr>
            </thead>
            <tbody>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>1</span>
                    </td>
                    <td class="product-name">
                        <span>Mini Icon Aura Ruby Bracelet</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/4/6/46037yrdb_a_1/Astley-Clarke-Mini-Icon-Aura-Ruby-Bracelet-Yellow-Gold-(Solid,-100-Recycled)-46037YRDB.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$833</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>2</span>
                    </td>
                    <td class="product-name">
                        <span>Medium Interstellar Black Diamond Hoop Earrings</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/3/8/38076ynobos_a/Astley-Clarke-Hamsa-Fine-Biography-Bracelet-Yellow-Gold-(Solid,-100-Recycled)-38076YNOB.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$693</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>3</span>
                    </td>
                    <td class="product-name">
                        <span>Mini Icon Aura Ruby Pendant Necklace</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/4/6/46036yrdn_a/Astley-Clarke-Mini-Icon-Aura-Ruby-Pendant-Necklace-Yellow-Gold-(Solid,-100-Recycled)-46036YRDN.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$973</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="opal" role="tabpanel" aria-labelledby="opal-tab">
        <table class="table table-striped">
            <thead>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td style="width:5%;"></td>
                    <td style="width:15%;">Product Name</td>
                    <td style="width:25%;">Image</td>
                    <td style="width:10%;">Metal Type</td>
                    <td style="width:20%;">Price</td>
                    <td style="width:15%;"></td>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>1</span>
                    </td>
                    <td class="product-name">
                        <span>Icon Nova Opal Bracelet</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/4/4/44062wnobos/Astley-Clarke-Icon-Nova-Opal-Bracelet-Rose-Gold-(Solid,-100-Recycled)-42034RWTB.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span></span>
                    </td>
                    <td class="product-total">
                        <span>$630</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>2</span>
                    </td>
                    <td class="product-name">
                        <span>Mini Icon Nova Opal Stud Earrings</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/2/42026rwte_b_revised/Astley-Clarke-Mini-Icon-Nova-Opal-Stud-Earrings-Rose-Gold-(Solid,-100-Recycled)-42026RWTE.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$350</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>3</span>
                    </td>
                    <td class="product-name">
                        <span>Triple Icon Nova Opal Ring</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/2/42025rwtr_2/Astley-Clarke-Triple-Icon-Nova-Opal-Ring-Rose-Gold-(Solid,-100-Recycled)-42025RWTR.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,330</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>4</span>
                    </td>
                    <td class="product-name">
                        <span>Medium Icon Nova Opal Ring</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/2/42023rwtr_a_revised/Astley-Clarke-Medium-Icon-Nova-Opal-Ring-Rose-Gold-(Solid,-100-Recycled)-42023RWTR.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$770</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>5</span>
                    </td>
                    <td class="product-name">
                        <span>Mini Icon Nova Opal Ring</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/2/42021rwtr_a_revised/Astley-Clarke-Mini-Icon-Nova-Opal-Ring-Rose-Gold-(Solid,-100-Recycled)-42021RWTR.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$490</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>6</span>
                    </td>
                    <td class="product-name">
                        <span>Large Icon Nova Opal Pendant Necklace</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/2/42033rwtn_a_revised/Astley-Clarke-Large-Icon-Nova-Opal-Pendant-Necklace-Rose-Gold-(Solid,-100-Recycled)-42033RWTN.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$2,739</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>7</span>
                    </td>
                    <td class="product-name">
                        <span>Medium Icon Nova Opal Pendant Necklace</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/2/42032rwtn_a_revised/Astley-Clarke-Medium-Icon-Nova-Opal-Pendant-Necklace-Rose-Gold-(Solid,-100-Recycled)-42032RWTN.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,545</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>8</span>
                    </td>
                    <td class="product-name">
                        <span>Large Icon Nova Opal Ring</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/2/42024rwtr_a/Astley-Clarke-Large-Icon-Nova-Opal-Ring-Rose-Gold-(Solid,-100-Recycled)-42024RWTR.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$1,397</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="sapphire" role="tabpanel" aria-labelledby="sapphire-tab">
        <table class="table table-striped">
            <thead>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td style="width:5%;"></td>
                    <td style="width:15%;">Product Name</td>
                    <td style="width:25%;">Image</td>
                    <td style="width:10%;">Metal Type</td>
                    <td style="width:20%;">Price</td>
                    <td style="width:15%;"></td>

                </tr>
            </thead>
            <tbody>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>1</span>
                    </td>
                    <td class="product-name">
                        <span>
                            Mini Icon Aura Blue Sapphire Bracelet
                        </span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/4/6/46037ybeb_a_1/Astley-Clarke-Mini-Icon-Aura-Blue-Sapphire-Bracelet-Yellow-Gold-(Solid,-100-Recycled)-46037YBEB.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$836</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>2</span>
                    </td>
                    <td class="product-name">
                        <span>Evil Eye Fine Biography Sapphire Bracelet</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/3/8/38074ynobmd/Astley-Clarke-Evil-Eye-Fine-Biography-Sapphire-Bracelet-Yellow-Gold-(Solid,-100-Recycled)-38074YNOB.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>
                            $695
                        </span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>3</span>
                    </td>
                    <td class="product-name">
                        <span>Mini Icon Aura Blue Sapphire Pendant Necklace </span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/4/6/46036yben_a/Astley-Clarke-Mini-Icon-Aura-Blue-Sapphire-Pendant-Necklace-Yellow-Gold-(Solid,-100-Recycled)-46036YBEN.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$976</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="emerald" role="tabpanel" aria-labelledby="emerald-tab">
        <table class="table table-striped">
            <thead>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td style="width:5%;"></td>
                    <td style="width:15%;">Product Name</td>
                    <td style="width:25%;">Image</td>
                    <td style="width:10%;">Metal Type</td>
                    <td style="width:20%;">Price</td>
                    <td style="width:15%;"></td>

                </tr>
            </thead>
            <tbody>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>1</span>
                    </td>
                    <td class="product-name">
                        <span>
                            Mini Icon Aura Emerald Bracelet
                        </span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/4/6/46037ygeb_a_2/Astley-Clarke-Mini-Icon-Aura-Emerald-Bracelet-Yellow-Gold-(Solid,-100-Recycled)-46037YGEB.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$836</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>2</span>
                    </td>
                    <td class="product-name">
                        <span>Mini Icon Aura Emerald Pendant Necklace</span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/4/6/46037ygeb_a_2/Astley-Clarke-Mini-Icon-Aura-Emerald-Bracelet-Yellow-Gold-(Solid,-100-Recycled)-46037YGEB.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>
                            $976
                        </span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>3</span>
                    </td>
                    <td class="product-name">
                        <span>Mini Icon Aura Blue Sapphire Pendant Necklace </span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/small_image/375x375/9df78eab33525d08d6e5fb8d27136e95/4/6/46036yben_a/Astley-Clarke-Mini-Icon-Aura-Blue-Sapphire-Pendant-Necklace-Yellow-Gold-(Solid,-100-Recycled)-46036YBEN.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$976</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="morganite" role="tabpanel" aria-labelledby="morganite-tab">
        <table class="table table-striped">
            <thead>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td style="width:5%;"></td>
                    <td style="width:15%;">Product Name</td>
                    <td style="width:25%;">Image</td>
                    <td style="width:10%;">Metal Type</td>
                    <td style="width:20%;">Price</td>
                    <td style="width:15%;"></td>

                </tr>
            </thead>
            <tbody>
                <tr class="text-center p-2 border-bottom box-shadow">
                    <td>
                        <span>1</span>
                    </td>
                    <td class="product-name">
                        <span>
                            Morganite & Diamond Halo Ring
                        </span>
                    </td>
                    <td class="product-quantity">
                        <img src="https://www.astleyclarke.com/media/catalog/product/cache/1/image/420x420/9df78eab33525d08d6e5fb8d27136e95/2/9/29620rmgr50_2/Astley-Clarke-Morganite-and-Diamond-Halo-Ring-Rose-Gold-(Solid)-29620RMGR.jpg" width="120" height="120">
                    </td>
                    <td class="product-price">
                        <span>14 carat Gold</span>
                    </td>
                    <td class="product-total">
                        <span>$2,247</span>
                    </td>
                    <td>
                        <div class="btn btn-success">See more</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>