@model ProjectTeamVitAspDotNetCore.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Edit Product</h3>
    </div>

    <form asp-controller="Permistion" enctype="multipart/form-data" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <input type="hidden" asp-for="Email" />
            <input asp-for="Fname" type="hidden">
            <input asp-for="Lname" type="hidden">
            <input asp-for="Bdate" type="hidden">
            <input asp-for="Gender" type="hidden">
            <input type="hidden" asp-for="Address">
                <input asp-for="Phone" type="hidden">
                <input asp-for="ZipCode" type="hidden">
                <input type="hidden" asp-for="Password" >
        
          
                <input type="hidden" asp-for="ConfirmPassword">
            

                        <input type="hidden" asp-for="Avatar" >
                        <input type="hidden" asp-for="Gender" >
                      
            <div class="form-group">
                <label asp-for="Eable" class="control-label"></label>
                <select asp-for="Eable" class="form-control">
                    <option value="True">Unlock</option>
                    <option value="False">Lock</option>
                </select>
                <span asp-validation-for="IdRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRole" class="control-label">Role</label>
                <select asp-for="IdRole">
                    @foreach (Role role in ViewBag.roles)
                    {
                        <option value="@role.Id">@role.StringRole</option>
                    }
                </select>
                <span asp-validation-for="IdRole" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save Change</button>
            <a asp-action="index" class="btn btn-success">Back To List</a>
        </div>
    </form>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
